{extend name="layout/default" /}
{block name="content"}
<!---------------------------短信公共模块begin----------------------->
{include file="common/sms_modal"/}
<!---------------------------短信公共模块begin----------------------->
{include file="common/area" /}
<!--地区筛选自定义弹出end-->

<body>
<div class="layui-fluid main-step" style="display:  none">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody body-overflow">
            <div class="layui-card main-table">
                <blockquote class="msg-tip">
                    <span class="float-right close-icon-right cancle" title="关闭"><i class="fa fa-times" aria-hidden="true"></i></span>
                    1）只显示最近3个月的订单。为了不影响买家休息，22点至早晨9点的短信都延迟到9点后发出。
                </blockquote>
                <!----------------------------第二步begin---------------------------->
                <div class="layui-card-body layui-card-body-padding">
                    <!--表格查询条件begin-->
                    <!--<div class="searchbody">-->
                    <form class="layui-form" method="post" action="" tableid="tableReload" id="formRule" lay-filter="member_sms">
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <table  class="layui-table table-border  dashed-td" lay-skin="line" lay-size="sm" style="margin-bottom: 15px">
                                    <colgroup>
                                        <col class="yty_tdright" width="110px">
                                        <col class="yty_tdright">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="yty_tdleft"> 短信标题 :</td>
                                        <td class="yty_tdright">
                                            <input type="text" name="sms_title" id="sms_title"  placeholder="" autocomplete="off" class="layui-input width250">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft"> 短信内容 :</td>
                                        <td class="yty_tdright label_sms">
                                            <ul class="ulstyle0">
                                                <li><a href="javascript:void(0);" id="buyer_name">卖家姓名</a></li>
                                                <li><a href="javascript:void(0);" id="buyer_customer_name">买家云信名称</a></li>
                                                <li><a href="javascript:void(0);" id="total_cost">消费总额</a></li>
                                                <li><a href="javascript:void(0);" id="shop_address">店铺地址</a></li>
                                                <li><a href="javascript:void(0);" id="recent_purchase_time">最近购买时间</a></li>
                                            </ul>
                                            <ul class="ulstyle1">
                                                <li><a href="javascript:void(0);" id="short_href">#短链#</a></li>
                                                <li><a href="javascript:void(0);" id="sms_module">#短信模板#</a></li>
                                            </ul>
                                            <!--<br>-->
                                            <!--<p class="marginbuttom5"></p>-->
                                            <textarea placeholder="请输入内容" class="layui-textarea yty-textarea sms-content" id="sms-content">注意防骗：如骗子电话短.信骚扰说订单不能发货索取账号信息及银行.卡信息，千万不能相信，有任何问题上线联系客服哦，谨防诈骗！</textarea>
                                            <p class="font12">已输入：<span class="red_color sms-content-length">62</span> 字(包含签名) 当前计费：<span class="red_color">1</span>条 <span class="astyle tips-icon font14" title-icon="1、单条70个字,超出70个字将按照67个字每条计算<br>
2、一个汉字,数字,字母,空格都算一个字<br>
3、带标签的短信按实际发出的长度计算！因部分标签替换后长短不一（如买家昵称,商品名称,商品简称等），请以实际替换后长度为准，已输入字数提示仅供参考！">计费规则(重要)</span></p>
                                            <!--<p class="font12">1、单条70个字,超出70个字将按照67个字每条计算<br></p>
                                            <p class="font12">2、一个汉字,数字,字母,空格都算一个字<br></p>
                                            <p class="font12">3、带标签的短信按实际发出的长度计算！因部分标签替换后长短不一（如买家昵称,商品名称,商品简称等），请以实际替换后长度为准，已输入字数提示仅供参考！</p>-->
                                            <p class="font12">提示：<span class="red_color">标签和链接前后需有空格分隔，请勿删除前后空格！</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft"> 短信签名 :</td>
                                        <td class="yty_tdright">
                                            <input type="radio" name="location_address" lay-filter="location_address" lay-skin="primary" value="【u[1715093595]】"  title="【u[1715093595]】" checked>
                                            <input type="radio" name="location_address" lay-filter="location_address" lay-skin="primary" value="自定义签名"  title="自定义签名">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft"> 短信测试 :</td>
                                        <td class="yty_tdright">
                                            <input type="text" name="sms_test" id="sms_test"  placeholder="可输入5个测试手机号，用逗号“，”隔开" autocomplete="off" class="layui-input width250">
                                            <button type="button" lay-submit="" lay-filter="" class="layui-btn yty-btn layui-btn-primary btn-primary-border layui-btn-sm btn-embossed">查询</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft"> 发送号码 :</td>
                                        <td class="yty_tdright">
                                            <input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="0"  title="优先收货人号码" checked>
                                            <input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="1"  title="优先支付宝号码">
                                            <input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="2"  title="只发收货人号码">
                                            <input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="3"  title="只发支付宝号码">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft"> 发送时间 :</td>
                                        <td class="yty_tdright">
                                            <input type="radio" name="send_time_type" lay-filter="send_time_type" lay-skin="primary" value="0"  title="立即发送" checked>
                                            <input type="radio" class="customize" name="send_time_type" lay-filter="send_time_type" lay-skin="primary" value="自定义"  title="自定义">
                                            <span class="customize_send_time_type" style="display: none">
                                                <input type="text" name="timing" id="timing"  placeholder="" autocomplete="off" class="layui-input">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="yty_tdleft border-bottom"></td>
                                        <td class="yty_tdright border-bottom">
                                            <!--btn-primary-border layui-btn-primary-->

                                            <button type="button" lay-submit="" lay-filter="" class="layui-btn yty-btn layui-btn-normal pre-step cancle layui-btn-sm btn-embossed">上一步</button>
                                            <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal yty-btn btn-embossed">确认发送</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-col-md4">
                                <div class="sms-phone">
                                    <div class="phone-container">
                                        <div class="smg-content">
                                            【阿里狗】<span class="synchronize_sms_content">注意防骗：如骗子电话短.信骚扰说订单不能发货索取账号信息及银行.卡信息，千万不能相信，有任何问题上线联系客服哦，谨防诈骗！</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="layui-form-item footer-form">-->
                        <!--<div class="footer footer-common">-->
                        <!--<button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed disabled">{:__('OK')}</button>-->
                        <!--<button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed">{:__('Reset')}</button>-->
                        <!--<a href="{:url($return_url)}"><div type="reset" style="margin-left: 10px" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed go-back">返回</div></a>-->
                        <!--&lt;!&ndash;onclick="window.history.go(-1)"&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                    <!--</div>-->
                    <!--表格查询条件end-->

                    <!--订单查询结果begin-->
                    <!--<table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>-->
                    <!--订单查询结果end-->
                </div >
                <!----------------------------第二步end---------------------------->
            </div>
        </div>

        <!--<div style="display: none" class="layui-col-md12 webody1">-->
            <!--<div class="layui-card main-table">-->
                <!--<div class="layui-card-header yty-card-header"><span class="sm-st-icon-left shop-info"><i class="fa  fa-ellipsis-v"></i></span>第二步：编辑短信  </div>-->
                <!--<div class="layui-card-body main-body">-->
                    <!--&lt;!&ndash;表格查询条件begin&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="searchbody">&ndash;&gt;-->
                    <!--<form class="layui-form" method="post" action="" tableid="tableReload" id="formRule" lay-filter="member_sms">-->
                        <!--<div class="layui-row">-->
                            <!--<div class="layui-col-md8">-->
                                <!--<table class="layui-table table-border  dashed-td" lay-skin="line" lay-size="sm" style="margin-bottom: 15px">-->
                            <!--<colgroup>-->
                                <!--<col class="yty_tdright" width="110px">-->
                                <!--<col class="yty_tdright">-->
                            <!--</colgroup>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 短信标题 :</td>-->
                                <!--<td class="yty_tdright">-->
                                     <!--<input type="text" name="sms_title" id="sms_title"  placeholder="" autocomplete="off" class="layui-input width250">-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 短信内容 :</td>-->
                                <!--<td class="yty_tdright label_sms">-->
                                    <!--<ul class="ulstyle0">-->
                                        <!--<li><a href="javascript:void(0);" id="buyer_name">卖家姓名</a></li>-->
                                        <!--<li><a href="javascript:void(0);" id="buyer_customer_name">买家云信名称</a></li>-->
                                        <!--<li><a href="javascript:void(0);" id="total_cost">消费总额</a></li>-->
                                        <!--<li><a href="javascript:void(0);" id="shop_address">店铺地址</a></li>-->
                                        <!--<li><a href="javascript:void(0);" id="recent_purchase_time">最近购买时间</a></li>-->
                                    <!--</ul>-->
                                    <!--<ul class="ulstyle1">-->
                                        <!--<li><a href="javascript:void(0);" id="short_href">#短链#</a></li>-->
                                        <!--<li><a href="javascript:void(0);" id="sms_module">#短信模板#</a></li>-->
                                    <!--</ul>-->
                                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<p class="marginbuttom5"></p>&ndash;&gt;-->
                                    <!--<textarea placeholder="请输入内容" class="layui-textarea yty-textarea sms-content" id="sms-content">注意防骗：如骗子电话短.信骚扰说订单不能发货索取账号信息及银行.卡信息，千万不能相信，有任何问题上线联系客服哦，谨防诈骗！</textarea>-->
                                    <!--<p class="font12">已输入：<span class="red_color sms-content-length">62</span> 字(包含签名) 当前计费：<span class="red_color">1</span>条 <span class="astyle tips-icon font14" title-icon="1、单条70个字,超出70个字将按照67个字每条计算<br>-->
<!--2、一个汉字,数字,字母,空格都算一个字<br>-->
<!--3、带标签的短信按实际发出的长度计算！因部分标签替换后长短不一（如买家昵称,商品名称,商品简称等），请以实际替换后长度为准，已输入字数提示仅供参考！">计费规则(重要)</span></p>-->
                                    <!--&lt;!&ndash;<p class="font12">1、单条70个字,超出70个字将按照67个字每条计算<br></p>-->
                                    <!--<p class="font12">2、一个汉字,数字,字母,空格都算一个字<br></p>-->
                                    <!--<p class="font12">3、带标签的短信按实际发出的长度计算！因部分标签替换后长短不一（如买家昵称,商品名称,商品简称等），请以实际替换后长度为准，已输入字数提示仅供参考！</p>&ndash;&gt;-->
                                    <!--<p class="font12">提示：<span class="red_color">标签和链接前后需有空格分隔，请勿删除前后空格！</span></p>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 短信签名 :</td>-->
                                <!--<td class="yty_tdright">-->
                                    <!--<input type="radio" name="location_address" lay-filter="location_address" lay-skin="primary" value="【u[1715093595]】"  title="【u[1715093595]】" checked>-->
                                    <!--<input type="radio" name="location_address" lay-filter="location_address" lay-skin="primary" value="自定义签名"  title="自定义签名">-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 短信测试 :</td>-->
                                <!--<td class="yty_tdright">-->
                                    <!--<input type="text" name="sms_test" id="sms_test"  placeholder="可输入5个测试手机号，用逗号“，”隔开" autocomplete="off" class="layui-input width250">-->
                                    <!--<button type="button" lay-submit="" lay-filter="" class="layui-btn yty-btn layui-btn-primary btn-primary-border layui-btn-sm btn-embossed">查询</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 发送号码 :</td>-->
                                <!--<td class="yty_tdright">-->
                                    <!--<input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="0"  title="优先收货人号码" checked>-->
                                    <!--<input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="1"  title="优先支付宝号码">-->
                                    <!--<input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="2"  title="只发收货人号码">-->
                                    <!--<input type="radio" name="send_mobile_type" lay-filter="send_mobile_type" lay-skin="primary" value="3"  title="只发支付宝号码">-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 发送人数 :</td>-->
                                <!--<td class="yty_tdright">-->
                                    <!--<input type="radio" name="send_limit_type" lay-filter="send_limit_type" lay-skin="primary" value="0"  title="全部" checked>-->
                                    <!--<input type="radio" class="customize" name="send_limit_type" lay-filter="send_limit_type" lay-skin="primary" value="1"  title="部分">-->
                                    <!--<span class="customize_send_limit_type" style="display: none">-->
                                        <!--<input type="text" name="part_people" id="part_people" value="0" placeholder="" autocomplete="off" class="layui-input">-->
                                    <!--</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"> 发送时间 :</td>-->
                                <!--<td class="yty_tdright">-->
                                    <!--<input type="radio" name="send_time_type" lay-filter="send_time_type" lay-skin="primary" value="0"  title="立即发送" checked>-->
                                    <!--<input type="radio" class="customize" name="send_time_type" lay-filter="send_time_type" lay-skin="primary" value="1"  title="定时发送">-->
                                    <!--<span class="customize_send_time_type" style="display: none">-->
                                        <!--<input type="text" name="timing" id="timing"  placeholder="" autocomplete="off" class="layui-input">-->
                                    <!--</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="yty_tdleft"  style="border-bottom: none !important;"></td>-->
                                <!--<td class="yty_tdright"  style="border-bottom: none !important;">-->
                                    <!--<button type="button" lay-submit="" lay-filter="" class="layui-btn yty-btn pre-step layui-btn-primary btn-primary-border layui-btn-sm btn-embossed">上一步</button>-->
                                    <!--<button type="reset" class="layui-btn layui-btn-sm layui-btn-normal yty-btn btn-embossed">发送短信</button>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                            <!--</div>-->
                            <!--<div class="layui-col-md4">-->
                                <!--<div class="sms-phone">-->
                                    <!--<div class="phone-container">-->
                                        <!--<div class="smg-content">-->
                                            <!--【覃雪宁88】<span class="synchronize_sms_content">注意防骗：如骗子电话短.信骚扰说订单不能发货索取账号信息及银行.卡信息，千万不能相信，有任何问题上线联系客服哦，谨防诈骗！</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="layui-form-item footer-form">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="footer footer-common">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed disabled">{:__('OK')}</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed">{:__('Reset')}</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="{:url($return_url)}"><div type="reset" style="margin-left: 10px" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed go-back">返回</div></a>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;onclick="window.history.go(-1)"&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</form>-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;表格查询条件end&ndash;&gt;-->

                    <!--&lt;!&ndash;订单查询结果begin&ndash;&gt;-->
                    <!--&lt;!&ndash;<table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>&ndash;&gt;-->
                    <!--&lt;!&ndash;订单查询结果end&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
<!--</div>-->

<div class="layui-fluid main-search">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody body-overflow">
            <div class="layui-card main-table">
                <blockquote class="msg-tip">
                    <!--<span class="float-right close-icon-right cancle" title="关闭"><i class="fa fa-times" aria-hidden="true"></i></span>-->
                    1）只显示最近3个月的订单。为了不影响买家休息，22点至早晨9点的短信都延迟到9点后发出。
                </blockquote>
                <!--<div class="layui-card-header yty-card-header"><span class="sm-st-icon-left shop-info"><i class="fa  fa-ellipsis-v"></i></span>订单查询</div>-->
                <div class="layui-card-body layui-card-body-padding">
                    <!----------------------------------表格查询条件begin------------------------------->
                    <div class="searchbody">
                        <form class="layui-form" method="post" action="" tableid="tableReload" id="search_form" lay-filter="search_form">
                            <table class="layui-table table-border  dashed-td" lay-skin="line" lay-size="sm" style="margin-bottom: 15px">
                                <colgroup>
                                    <col class="yty_tdright" width="100px">
                                    <col class="yty_tdright">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td class="yty_tdleft">订单编号 :</td>
                                    <td class="yty_tdright">
                                        <input type="text" name="order_number" id="order_number" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        商品ID：
                                        <input type="text" name="itemId" id="itemId" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        商品ID：
                                        <input type="text" name="buyerNickname" id="buyerNickname" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        <button class="layui-btn float-right layui-btn-sm layui-btn-primary more-btn" type="button">更多<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">下单时间 :</td>
                                    <td class="yty_tdright">
                                        <input type="text" name="complete_time_start" id="complete_time_start" placeholder="" autocomplete="off" class="layui-input"> — <input type="text" name="complete_time_end" id="complete_time_end" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        订单金额：
                                        <input type="text" name="payment_start" id="payment_start" placeholder="" autocomplete="off" class="layui-input" lay-key="1"> — <input type="text" name="payment_end" id="payment_end" placeholder="" autocomplete="off" class="layui-input" lay-key="2">
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">所属地区 :</td>
                                    <td class="yty_tdright">
                                        <input type="text" name="areaId" id="areaId" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        <input type="hidden" name="areaIdH" id="areaIdH" placeholder="" autocomplete="off" class="layui-input input-margin">
                                        <div class="layui-inline yty-form">
                                            <span>短信过滤（已发送）：</span>
                                            <div class="layui-input-inline input-margin">
                                                <select name="smsFilter" lay-verify="required" lay-search="">
                                                    <option value="0" selected>不过滤</option>
                                                    <option value="1">1天</option>
                                                    <option value="2">2天</option>
                                                    <option value="3">3天</option>
                                                    <option value="4">4天</option>
                                                    <option value="5">5天</option>
                                                    <option value="10">10天</option>
                                                    <option value="15">15天</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline yty-form">
                                            <span>完成时间：</span>
                                            <input type="text" name="order_time_start" id="order_time_start" placeholder="" autocomplete="off" class="layui-input" lay-key="1"> — <input type="text" name="order_time_end" id="order_time_end" placeholder="" autocomplete="off" class="layui-input input-margin" lay-key="2">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody class="more-search" style="display: none">
                                <tr>
                                    <td class="yty_tdleft">屏蔽标旗 :</td>
                                    <td class="yty_tdright">
                                        <ul class="yty-checkbox">
                                            <li class="checkbox-active"><span class="red_flag"></span></li>
                                            <li><span class="yellow_flag"></span></li>
                                            <li><span class="cyan_flag"></span></li>
                                            <li><span class="blue_flag"></span></li>
                                            <li><span class="purple_flag"></span></li>
                                        </ul>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">订单来源 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-form">
                                            <input type="checkbox" name="tradefrom[pc]" lay-skin="primary" value="1" title="pc端" checked="">
                                            <input type="checkbox" name="tradefrom[wap]" lay-skin="primary" value="2" title="移动端">
                                            <input type="checkbox" name="tradefrom[ht]" lay-skin="primary" value="3" title="历史订单">
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">订单状态 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-form yty-checkbox-all">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[ALL]" value="ALL" class="all" title="全部"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[WAIT_BUYER_PAY]" value="1" title="下单未付款">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[WAIT_SELLER_SEND_GOODS]" value="2" title="付款未发货">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[WAIT_BUYER_CONFIRM_GOODS]" value="3" title="已发货">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[SELLER_CONSIGNED_PART]" value="4" title="部分发货">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[TRADE_FINISHED]" value="5" title="交易成功">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[TRADE_CLOSED]" value="6" title="已退款">
                                            <input type="checkbox" lay-skin="primary" name="orderStatus[TRADE_CLOSED_BY_TAOBAO]" value="7" title="交易关闭">
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">评价状态 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-form yty-checkbox-all">
                                            <input type="checkbox" lay-skin="primary" name="evaluationStatus[ALL]" value="ALL" title="全部" class="all"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="evaluationStatus[BUYER_RATE]" value="1" title="买家已评"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="evaluationStatus[BUYER_NOT_RATE]" value="2" title="买家未评"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="evaluationStatus[BUYER_NOT_RATE]" value="3" title="买家未评，卖家已评"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="evaluationStatus[BUYER_RATE_SELLER_NOT]" value="4" title="双发已评"  lay-filter="check_all">
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">订单类型 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-form yty-checkbox-all">
                                            <input type="checkbox" lay-skin="primary" name="orderType[ALL]" value="ALL" title="全部" class="all" lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="orderType[FRONT_NOPAID_FINAL_NOPAID]" value="1" title="定金未定" lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="orderType[FRONT_PAID_FINAL_NOPAID]" value="2" title="已付定金，未付尾款" lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="orderType[FRONT_PAID_FINAL_PAID]" value="3" title="定金已付，尾款已付" lay-filter="check_all">
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft">退款状态 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-form yty-checkbox-all">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[0]" value="ALL" class="all" title="全部"  lay-filter="check_all">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[1]" value="1" title="买家申请退款,等待卖家同意">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[2]" value="2" title="等待买家退货">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[3]" value="3" title="买家已经退货，等待卖家确认收货">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[4]" value="4" title="卖家拒绝退款">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[5]" value="5" title="退款关闭">
                                            <input type="checkbox" lay-skin="primary" name="refundStatus[6]" value="6" title="退款成功">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!-----------------------------------表格查询条件end--------------------------------->

                    <!-----------------------------------------------订单查询结果begin----------------------->
                    <table class="layui-hide" id="order_data_list"  lay-filter="order_data_list" table-reload-id="tableReload"></table>
                    <!----------------------------------------------订单查询结果end-------------------------->
                </div>
            </div>
        </div>
    </div>
</div>

<!--头工具栏-->
<!--{:build_toolbar('toolbar',['refresh'])}-->

<!------------------------表格头工具栏begin------------------------->
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="search"><i class="fa fa-search"></i> 查询</a>
    <a class="layui-btn layui-btn-sm layui-btn-primary btn-primary-border" lay-event="synchronizeOrder"><i class="fa fa-refresh" aria-hidden="true"></i> 同步订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-primary btn-primary-border" lay-event="sendSmsToCheckBuyer"><i class="fa fa-envelope-o"></i> 编辑并发送短信给已选的订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-primary btn-primary-border" lay-event="sendSmsToAllBuyer"><i class="fa fa-envelope-o"></i> 编辑并发送短信给列表全部</a>
</script>
<!-------------------------表格头工具栏end---------------------------->



<!---------------------------订单状态begin-------------------------->
<script type="text/html" id="order_status">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="成功|失败" lay-filter="order_status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<!---------------------------订单状态end-------------------------->

<!--头工具栏-->
<!--{:build_toolbar('toolbar',['refresh'])}-->

<!--表格头部按钮begin-->
<!--<script type="text/html" id="toolbar">-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="search"><i class="fa fa-search"></i> 查询</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="sendSms"><i class="fa fa-envelope-o"></i> 发送短信</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="sendSearchResultSms"><i class="fa fa-envelope-o"></i> 按查询结果发送</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addOrder"><i class="fa fa-plus"></i> 添加订单</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importOrder"><i class="fa fa-file-text-o"></i> 导入苏宁订单</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="exportOrder"><i class="fa fa-file-o"></i> 导出苏宁订单</a>-->
    <!--<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="toBlack"><i class="fa fa-hand-o-down"></i> 拉黑</a>-->
<!--</script>-->
<!--表格头部按钮end-->

<!--头工具栏-->


{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','upload','laydate','element','form','authtree','we','formSearch','formEvent','sms_modal_init','area'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,we = layui.we
            ,table = layui.table
            ,$  = layui.$
            ,area = layui.area
            ,laydate = layui.laydate
            ,form = layui.form
            ,formSearch = layui.formSearch
            ,sms_modal_init = layui.sms_modal_init
            ,formEvent = layui.formEvent
            ,toastr = layui.toastr;

        /**
         *
         * 时间初始化
         * */
        laydate.render({
            elem: '#trade_time_start' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#trade_time_end' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#timing' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#order_time_start'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#order_time_end'
            ,type: 'datetime'
        });
        /*********************表格初始化begin**************************/
        var tableCommon = {
            elem: '#order_data_list'
            ,formId:'search_form'
            ,url:"{:url('Admin/user.user/index')}"    //对接后台读取数据列表方法
            ,id : 'tableReload'
            ,skin:'line'
            ,limit:10
            ,defaultToolbar: ['']
            ,toolbar : '#toolbar'
            ,data:{'Search':"{:__('Search')}",'Reset':"{:__('Reset')}"}
            ,search: false
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'buyer_name', title: '买家昵称',minWidth:150,searchList:{type:'input',operate:'LIKE'}}
                ,{field:'consignee_name', title: '收货人姓名',minWidth:150}
                ,{field:'order_status', title: '订单状态',templet: '#order_status', sort: true,minWidth:100}
                ,{field:'order_source', title: '订单来源', sort: true,minWidth:150}
                ,{field:'consignee_city', title: '收货人所在城市',minWidth:150}
                ,{field:'mobile', title: '手机号码',minWidth:100}
                ,{field:'order_number', title: '订单编号',minWidth:150}
                ,{field:'pay_money', title: '付款金额（元）',minWidth:100}
                ,{field:'order_time', title: '下单时间',minWidth:100}
                ,{field:'commodity', title: '购买的宝贝',minWidth:150}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        };
        table.render(tableCommon); //数据表格初始化

        /**
         * 表格表头工具栏事件
         */
        table.on('toolbar(order_data_list)', function(obj){
            var layEvent = obj.event;
            var checkStatus = table.checkStatus(obj.config.id);
            //console.log(checkStatus.data);
            //获取订单id
            var order_id = [];
            $.each(checkStatus.data,function (index, value) {
                order_id.push(value.id);
            })
            //console.log(order_id);
            switch(layEvent){
                //点击查询
                case 'search':
                    layui.table.reload("tableReload"
                        ,{
                            page: {
                                curr: 1
                            }
                            ,method:"post"
                            ,where: {filter:JSON.stringify(formSearch.api.getFormJson("form#search_form"))},
                        }
                    );
                    break;
                //编辑并发送短信给已选的订单
                case 'sendSmsToCheckBuyer':
                    $('.main-search').hide();
                    $('.main-step').slideDown(200);
                    break;
                //编辑并发送短信给列表全部
                case 'sendSmsToAllBuyer':
                    $('.main-search').hide();
                    $('.main-step').slideDown(200);
                    break;
                // 同步订单
                case 'synchronizeOrder':
                    toastr.warning('亲！订单已经开始同步，您可以先忙其他事情了！');
                    break;
            }
        });

        $("body").on("click",".cancle",function (){
            $('.main-step').hide();
            $('.main-search').slideDown(200);
        });
        /*********************表格初始化end**************************/

        /**
         * 屏蔽标旗点击切换
         */
        $("body").on("click","ul li",function (){
            if($(this).hasClass('checkbox-active')) {
                $(this).removeClass('checkbox-active');
            } else {
                $(this).addClass('checkbox-active')
            }
        });

        /**
         * 点击自定义单选框显示隐藏
         */
        formEvent.api.customize_radio()

        /**
         * 会员等级、订单来源
         */
        formEvent.api.all_check_not('checkbox(membership_level)');
        formEvent.api.all_check_not('checkbox(trade_from)');

        area.init();  //选择所在省份初始化

        /**
         * 短信modal初始化
         * */
        sms_modal_init.init();

        /**
         * 点击查询
         */
        $("body").on("click",".search_form_btn",function (){
            var index = layer.load();
            var formData = {filter:JSON.stringify(formSearch.api.getFormJson("form#searchSmsMember"))};
            console.log(formData);
            $.ajax({
                type:"post",
                url:"",
                data:formData,
                dataType:'json',
                async:false,
                success: function(data){
                    setTimeout(function () {
                        layer.close(index);
                    },3000)
                    $(".memberCount").text("20位");
                    $(".effectiveMemberCount").text("5位");
                },
                error:function () {

                }
            })
        });

        $("body").on("click",".more-btn",function (){
            console.log(this);
            if($(this).find('i').hasClass('fa-chevron-down')) {
                $(this).find('i').removeClass('fa-chevron-down')
                $(this).find('i').addClass('fa-chevron-up')
                $('.more-search').slideDown()
            } else {
                $(this).find('i').addClass('fa-chevron-down')
                $(this).find('i').removeClass('fa-chevron-up')
                $('.more-search').hide()
            }
        });

    });

</script>
</body>
</html>
{/block}