{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--头工具栏-->
{:build_toolbar('toolbar',['refresh', 'add', 'del','export'])}
<!--头工具栏-->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchPush">
    <input type="checkbox" name="is_time_push" value="{{d.is_time_push}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.is_time_push == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="nameTpl">
    <a href="/addons/{{d.name}}" target="_blank" class="layui-table-link">{{d.name}}</a>
</script>

<!--操作-->
{:build_actionbar('actionbar',['edit','test', 'del'])}
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','element','form','authtree','we','weTable'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,form = layui.form
            ,weTable = layui.weTable
            ,toastr = layui.toastr;

        table.render({
            elem: '#rule'
//            ,height: 500
            ,url:"{:url('Admin/Addon/index')}"
            ,id : 'tableReload'
            ,skin:'line'
            ,toolbar : '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'id', title: 'ID', sort: true,excel_width:15}
                ,{field:'name', title: "{:__('Plugin name')}",excel_width:15, templet: '#nameTpl'}
                ,{field:'title', title: "{:__('Title')}",excel_width:15}
                ,{field:'describe', title: "{:__('Describe')}", excel_width:15}
                ,{field:'author', title: "{:__('Author')}", sort: true,excel_width:15}
                ,{field:'download_count', title: "{:__('Download count')}", sort: true,excel_width:15}
                ,{field:'version', title: "{:__('Version')}", sort: true,excel_width:15}
                ,{field:'status', title: "{:__('Status')}", sort: true,excel_width:15,templet: '#switchStatus', sort: true}
//                ,{field:'create_time', title: '创建时间',excel_width:15}
                ,{fixed: 'right', title:"{:__('Operate')}", toolbar: '#actionbar', width:150}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                ,all:"{:__('Total')}"
                ,item:"{:__('Item')}"
                ,confirm:"{:__('Confirm')}"
                ,page:"{:__('Page')}"
                ,ipage:"{:__('IPage')}"
                ,to:"{:__('To')}"
                ,first: "{:__('First')}"
                ,last: "{:__('Last')}"
                ,prev: "{:__('Previous')}"
                ,next: "{:__('Next')}"
            }
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        });

        form.on('switch(ruleStatus)', function(obj){
            console.log(obj);
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            tableid : "tableReload",
            is_display:true,
            extend : {
                "add_url": "{:url('admin/Addon/edit',['nav_id'=>input('nav_id')],false)}",
                "edit_url": "{:url('admin/Addon/edit',['nav_id'=>input('nav_id')],false)}&ids=",
                "del_url": "{:url('admin/Addon/del',['nav_id'=>input('nav_id')],false)}",
                "export_url": "{:url('admin/Addon/index',['nav_id'=>input('nav_id')],false)}",
                "import_url" :  "{:url('admin/Addon/import',['nav_id'=>input('nav_id')],false)}",
            }
        });
        /**
         * 绑定监听事件
         * */
        weTable.api.bindevent();
    });
</script>
</body>
</html>
{/block}
