{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--头工具栏-->
{:build_toolbar('toolbar',['refresh', 'add', 'del','export'])}
<!--头工具栏-->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchPush">
    <input type="checkbox" name="is_time_push" value="{{d.is_time_push}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.is_time_push == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
{:build_actionbar('actionbar',['edit','test', 'del'])}
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','element','form','authtree','we','weTable'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,form = layui.form
            ,weTable = layui.weTable
            ,toastr = layui.toastr;

        table.render({
            elem: '#rule'
//            ,height: 500
            ,url:"{:url('Admin/Job/index')}"
            ,id : 'tableReload'
            ,skin:'line'
            ,toolbar : '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'id', title: 'ID', sort: true,excel_width:15}
                ,{field:'queue', title: '队列名称',excel_width:15}
                ,{field:'payload', title: '内容', minWidth: 400,excel_width:150}
                ,{field:'attempts', title: '尝试发送次数', sort: true,excel_width:15}
                ,{field:'created_at', title: '创建时间',excel_width:15}
                ,{fixed: 'right', title:"{:__('Operate')}", toolbar: '#actionbar', width:150}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,all:"{:__('Total')}"
                ,item:"{:__('Item')}"
                ,confirm:"{:__('Confirm')}"
                ,page:"{:__('Page')}"
                ,ipage:"{:__('IPage')}"
                ,to:"{:__('To')}"
                ,first: "{:__('First')}"
                ,last: "{:__('Last')}"
                ,prev: "{:__('Previous')}"
                ,next: "{:__('Next')}"
            }
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        });

        form.on('switch(ruleStatus)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            tableid : "tableReload",
            extend : {
                "add_url": "{:url('admin/Job/edit','',false)}",
                "edit_url": "{:url('admin/Job/edit','',false)}/ids/",
                "del_url": "{:url('admin/Job/del','',false)}",
                "export_url": "{:url('admin/Job/index','',false)}",
                "import_url" :  "{:url('admin/Job/import','',false)}",
            }
        });
        /**
         * 绑定监听事件
         * */
        weTable.api.bindevent();
    });
</script>
</body>
</html>
{/block}