{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody body-overflow">
            <div class="layui-row yty-bck">
                <div class="layui-col-12">
                    <div class="searchbody">
                    </div>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="groupList"  lay-filter="groupList" table-reload-id="tableReload"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--工具栏-->
<!--{:build_toolbar('toolbar','refresh,add')}-->
<!--工具栏-->

<!------------------------表格头工具栏begin------------------------->
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm layui-btn-primary btn-primary-border" lay-event="addGroup"><i class="fa fa-plus"></i> 创建分组</a>
</script>
<!-------------------------表格头工具栏end---------------------------->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="{:__('On')}|{:__('Off')}" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchIsmenu">
    <input type="checkbox" name="ismenu" value="{{d.ismenu}}" lay-skin="switch" lay-text="{:__(Yes)}|{:__('No')}" lay-filter="ruleIsmenu" {{ d.ismenu == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
<script type="text/html" id="tableTool">
    <!--{{# if(d.rules != '*'){  }}-->
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="sendMembersSms">会员群发短信</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    <!--{{# }  }}-->
</script>
<!--操作-->

{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
        ,we: 'we',
    }).use(['jquery','index','table','element','we','weTable','formSearch'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,$ = layui.$ //重点处
            ,table = layui.table
            ,weTable = layui.weTable
            ,layer = layui.layer
            ,form = layui.form
            ,formSearch = layui.formSearch
            ,we = layui.we;

        layer.load(0, {shade: false});
        var tableCommon = {
            elem: '#groupList'
            ,formId:'search_form'
            ,skin:'line'
            ,toolbar: '#toolbar'
            ,url:"{:url('Admin/user.group/index')}"
            ,id: 'tableReload'
            ,defaultToolbar: []//'filter', 'print', 'exports'
            ,loading:true
            ,search: true
            ,data:{'Search':"{:__('Search')}",'Reset':"{:__('Reset')}"}
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'id', title: '序号', sort: true}
                ,{field:'groupName', title: "分组名称", searchList:{type:'input',operate:'LIKE'}}
                ,{field:'memberCount', title: "客户数（人）", sort: true}
                ,{field:'groupSource', title: "分组类型", searchList:{type:'select',data:{"0":"全部分组","1":"系统分组","2":"标签分组","3":"我的分组"},'operate':'='}, sort: true}
                ,{field:'remarks', title: "分组备注"}
                ,{field:'creatime', title: "创建时间", searchList:{type:'input',event:'date',operate: 'RANGE'}}
                ,{fixed: 'right', title:"{:__('Operate')}", toolbar: '#tableTool', width:220}
            ]]
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        };

        table.render(tableCommon); //数据表格初始化
        formSearch.api.init(tableCommon); //搜索初始化
        formSearch.api.searchForm($("form#search_form"));

        /**
         * 表格初始化
         */
        /*weTable.api.init({
            table : "group",
            tableid : "tableReload",
            extend : {
                "add_url": "{:url('admin/user.group/edit','',false)}",
                "edit_url": "{:url('admin/user.group/edit','',false)}/ids/",
            }
        });*/

        /**
         * 绑定监听事件
         * */
        //weTable.api.bindevent();

        //表头工具栏事件
        table.on('toolbar(groupList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            var idsArr = [];
            console.log(data);
            $.each(data,function (index, value) {
                idsArr.push(value.id);
            });
            if(obj.event == 'addGroup') {
                layer_index = we.api.open("{:url('admin/user.group/edit')}",'创建分组',{zIndex:19891016
                },['80%' , '80%']);
            }
        })

        /**
         * 表格工具栏事件
         * */
        table.on('tool(groupList)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'sendMembersSms':
                    //设置发送手机号码
                    window.location.href = "{:url('activity/member_sms',['nav_id'=>226,'nav_pid'=>220],false)}?groupId = " + data.id;
                    break;
                case 'edit':
                    we.api.open("{:url('admin/user.group/edit',['nav_id'=>input('nav_id'),'nav_pid'=>input('nav_pid')],false)}&ids="+data.id,'编辑');
                    break;
                case 'del':
                    layer.confirm('请确定是否删除？',{
                        title:'温馨提示',
                    }, function(index){
                        var url = weTable.defaults.extend.del_url
                        we.api.ajax({"url":"{:url('admin/user.group/del',['nav_id'=>input('nav_id'),'nav_pid'=>input('nav_pid')],false)}","data":{'ids':data.id},'tableid':"tableReload",'action':'del'});
                        layer.close(index);
                    });
                    break;
            }
        });

    });

</script>
</body>
</html>
{/block}