{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <!--<div class="layui-row layui-col-space15">-->
        <!--<div class="layui-col-md12 webody">-->
        <!--<div class="layui-card">-->
            <!--<fieldset class="layui-elem-field layui-field-title">-->
                <!--<legend>常规设置</legend>-->
            <!--</fieldset>-->
            <!--<div class="layui-card-body">-->
                <div class="" lay-filter="component-tabs-brief">
                    <ul class="tabpage" id="tabs">
                        <li class="" id="li1"><a href="#" class="tab1">{:__('Mail configuration')}</a></li>
                        <li class="" id="li2"><a href="#" class="tab2">{:__('Basic Settings')}</a></li>
                        <li class="" id="li3"><a href="#" class="tab3">{:__('Constant configuration')}</a></li>
                        <li class="" id="li4"><a href="#" class="tab4">{:__('Other')}</a></li>
                    </ul>
                    <div class="contenttab" id="content">
                        <div class="layui-tab-item" id="tab1">
                            <form class="layui-form" lay-filter="component-form-element" id="send_emial"  method="POST" action="{:url('System/base_set',['type' => 2])}">
                                <table class="layui-table" lay-skin="line" lay-size="sm">
                                        <colgroup>
                                            <col class="tdleft" width="20%">
                                            <col class="tdright">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                    <tr>
                                        <td class="tdleft">邮件发送方式<span class="tips">*</span></td>
                                        <td class="tdright">
                                            {:build_select('mail_smtp_send_type', $send_type_list, $email_config['mail_smtp_send_type'], ['data-rule'=>'required'])}
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">SMTP服务器<span class="tips">*</span></td>
                                        <td class="tdright">
                                            <input type="text" name="mail_smtp_host" id="mail_smtp_host" autocomplete="off" value="{$email_config['mail_smtp_host']}" data-rule="required" placeholder="" class="layui-input">
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">SMTP端口<span class="tips">*</span></td>
                                        <td class="tdright">
                                            <input type="mail_smtp_port" name="mail_smtp_port" placeholder="" value="{$email_config['mail_smtp_port']}" data-rule="required" autocomplete="off" class="layui-input">
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">SMTP用户名<span class="tips">*</span></td>
                                        <td class="tdright">
                                            <input type="mail_smtp_user" name="mail_smtp_user" placeholder="" value="{$email_config['mail_smtp_user']}" autocomplete="off" data-rule="required" class="layui-input">
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">SMTP密码<span class="tips">*</span></td>
                                        <td class="tdright">
                                            <input type="mail_smtp_pass" name="mail_smtp_pass" placeholder="" value="{$email_config['mail_smtp_pass']}" autocomplete="off" data-rule="required" class="layui-input">
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">SMTP验证方式<span class="tips">*</span></td>
                                        <td class="tdright">
                                            {:build_select('mail_smtp_check_type', $mail_type_list, $email_config['mail_smtp_check_type'], ['data-rule'=>'required'])}
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdleft">发件人邮箱<span class="tips">*</span></td>
                                        <td class="tdright">
                                            <input type="mail_from" name="mail_from" placeholder="" value="{$email_config['mail_from']}" autocomplete="off" data-rule="required" class="layui-input">
                                        </td>
                                        <td class="tdright"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <div class="footer footer-common">
                                            <button class="layui-btn layui-btn-sm" type="submit" lay-submit="" lay-filter="component-form-element">保存</button>
                                            <button type="reset" class="layui-btn  layui-btn-sm">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item layui-show" id="tab2">

                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).link(
        " __STATIC__/style/jquery.validator.css"
    ).use(['index','form','formValidator'], function(){
        var form = layui.form
            ,$ = layui.$
            ,formValidator = layui.formValidator;

        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#password_strategy"));
        formValidator.api.bindevent($("form#send_emial"));

    });
</script>
</body>
</html>
{/block}