{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <!--<div class="layui-row layui-col-space15">-->
        <!--<div class="layui-col-md12 webody">-->
        <!--<div class="layui-card">-->
            <!--<div class="layui-card-header">-->
                <!--<fieldset class="layui-elem-field layui-field-title">-->
                    <!--<legend> 系统基本信息</legend>-->
                <!--</fieldset>-->
            <!--</div>-->
            <!--<div class="layui-card-body">-->
                <div class="" lay-filter="component-tabs-brief">
                    <ul class="tabpage" id="tabs">
                        <li class="" id="li1"><a href="#" class="tab1">{:__('System message')}</a></li>
                        <li class="" id="li2"><a href="#" class="tab2">{:__('Technical team')}</a></li>
                    </ul>
                    <div class="contenttab" id="content">
                        <div class="layui-tab-item" id="tab1">
                            <table class="layui-table" lay-skin="line" lay-size="sm">
                                <colgroup>
                                    <col class="tdleft" width="20%">
                                    <col class="tdright">
                                </colgroup>
                                <tbody>
                                    {volist name="server_info" id="vo"}
                                    <tr>
                                    <td class="tdleft">{$key}</td><td class="tdright">{$vo}</td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item" id="tab2">
                            <table class="layui-table" lay-skin="line" lay-size="sm">
                                <colgroup>
                                    <col class="tdright">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td class="tdright">Mr Qin</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','form','formValidator'], function(){
        var form = layui.form
            ,formValidator = layui.formValidator;

        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#password_strategy"));
        formValidator.api.bindevent($("form#crack"));
    });
</script>
</body>
</html>
{/block}