{extend name="layout/default" /}
{block name="content"}
<body>
<!--<div class="layui-container lay_top">-->
    <!--layui-card-->
    <!--<div class="layui-row layui-col-space30">-->
        <div class="body-form">
            <form class="layui-form" action="{:url('admin/auth.admin/edit','',false)}" tableid="tableReload" method="post" id="formRule" lay-filter="rule">
                <table class="layui-table" lay-skin="line" lay-size="sm">
                    <colgroup>
                        <col class="tdleft" width="30%">
                        <col class="tdright" width="50%">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="tdleft">所属表名<span class="tips">*</span></td>
                        <td class="tdright">
                            <input type="text" name="username" data-rule="required;" lay-verify="username" autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">字段标识<span class="tips">*</span></td>
                        <td class="tdright">
                            <input type="text" name="username" data-rule="required;" lay-verify="username" autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright">(注意：字母、数字下划线)</td>
                    </tr>
                    <tr>
                        <td class="tdleft">字段类型<span class="tips">*</span></td>
                        <td class="tdright">
                            {:build_select('field_type', $field_type, '', ['class'=>'form-control', 'required'=>''])}
                            <!--<input type="text" name="username" data-rule="required;" lay-verify="username" autocomplete="off" value="" placeholder="" class="layui-input">-->
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">字段长度<span class="tips">*</span></td>
                        <td class="tdright">
                            <input type="number" name="field_length" data-rule="required;number"  autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单名称<span class="tips">*</span></td>
                        <td class="tdright">
                            <input type="text" name="title" data-rule="required;"  autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单类型<span class="tips">*</span></td>
                        <td class="tdright">
                            {:build_select('form_type', $form_type, '', ['class'=>'form-control', 'required'=>''])}
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单样式</td>
                        <td class="tdright">
                            <input type="text" name="form_style" lay-verify="" autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright">不需要加style标签，不超过248个字节</td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单属性、校验规则 <br>说明：<br>若选择ajax，则url替换为所需url地址。</td>
                        <td class="tdright">
                            <textarea  name="form_rule" lay-verify="" autocomplete="off" value="" placeholder="" class="layui-textarea"></textarea>
                        </td>
                        <td class="tdright">
                            {:build_select('select_rule', $select_rule, '', ['class'=>'form-control', 'required'=>''])}
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单脚本 <br>说明：<br>不需要加script标签</td>
                        <td class="tdright">
                            <textarea  name="form_script" lay-verify="" autocomplete="off" value="" placeholder="" class="layui-textarea"></textarea>
                        </td>
                        <td class="tdright">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">表单默认值</td>
                        <td class="tdright">
                            <input type="text" name="default_value"  lay-verify="" autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    <tr>
                        <td class="tdleft">备注信息</td>
                        <td class="tdright">
                            <input type="text" name="note"  lay-verify="" autocomplete="off" value="" placeholder="" class="layui-input">
                        </td>
                        <td class="tdright"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="layui-form-item footer-form">
                    <div class="footer footer-common">
                        <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed disabled">{:__('OK')}</button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed">{:__('Reset')}</button>
                        <a href="{:url($return_url)}"><div type="reset" style="margin-left: 10px" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed go-back">返回</div></a>
                        <!--onclick="window.history.go(-1)"-->
                    </div>
                </div>
            </form>
        </div>
    <!--</div>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index', //主入口模块
        formSelects: 'formSelects-v4'
    }).link(
        '__STATIC__/style/formSelects-v4.css'
    ).
    link(
        " __STATIC__/style/jquery.validator.css"
    ).
    use(['jquery','index','formSelects','formValidator'], function(){
        var admin = layui.admin
            ,$ = layui.$
            ,table = layui.table
            ,formSelects = layui.formSelects
            ,formValidator = layui.formValidator;

        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#formRule"));
    });
</script>
</body>
</html>
{/block}