{extend name="layout/default" /}
{block name="content"}
<body>
<!--<div class="layui-container lay_top">-->
    <!--<div class="layui-row layui-col-space30">-->
        <div class="body-form">
        <form class="layui-form" action="{:url('admin/auth.admin/edit','',false)}" tableid="tableReload" method="post" id="formRule" lay-filter="rule">
            <table class="layui-table" lay-skin="line" lay-size="sm">
                <colgroup>
                    <col class="tdleft" width="30%">
                    <col class="tdright">
                </colgroup>
                <tbody>
                <tr>
                    <td class="tdleft">{:__('Group')}<span class="tips">*</span></td>
                    <td class="tdright">
                        {:build_select('group', $groupdata, $groupids, ['class'=>'form-control selectpicker', 'multiple'=>'', 'lay-verify'=>'required', 'xm-select' => 'select'])}
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Username')}<span class="tips">*</span></td>
                    <td class="tdright">
                        <input type="text" name="username" data-rule="required;username" lay-verify="username" autocomplete="off" value="{$list['username']}" placeholder="" class="layui-input">
                        <input type="hidden" name="id" lay-verify="id" value="{$list['id']}">
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Nickname')}</td>
                    <td class="tdright">
                        <input type="nickname" data-rule="required" name="nickname" placeholder="" value="{$list['nickname']}" autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Email')}</td>
                    <td class="tdright">
                        <input type="email" name="email" data-rule="{required;email}" placeholder="" value="{$list['email']}" autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Password')}</td>
                    <td class="tdright">
                        <input type="password" data-rule="passwdrule" data-rule-passwdrule="[/{$passwd_complexity_rule[0]}/, '{$passwd_complexity_rule[1]}']" name="password" placeholder="" autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Confirm password')}</td>
                    <td class="tdright">
                        <input type="password" name="confirm_password" data-rule="{:__('Confirm password')}:match(password);" placeholder=""  autocomplete="off" class="layui-input">
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">{:__('Status')}</td>
                    <td class="tdright">
                        <input type="checkbox" name="status" lay-skin="switch" lay-text="{:__('On')}|{:__('Off')}"  {$list['status'] == 1? 'checked' : ''}>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="layui-form-item footer-form">
                <div class="footer">
                    <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-sm btn-embossed disabled">{:__('OK')}</button>
                    <button type="reset" class="layui-btn layui-btn-sm btn-embossed">{:__('Reset')}</button>
                </div>
            </div>
        </form>
        </div>
    <!--</div>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index', //主入口模块
        formSelects: 'formSelects-v4'
    }).link(
        '__STATIC__/style/formSelects-v4.css'
    ).
    link(
        " __STATIC__/style/jquery.validator.css"
    ).
    use(['jquery','index','formSelects','formValidator'], function(){
        var admin = layui.admin
            ,$ = layui.$
            ,table = layui.table
            ,formSelects = layui.formSelects
            ,formValidator = layui.formValidator;
        //监听提交
        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#formRule"));
//        form.on('submit(formRule)', function(data){
//            var formData = JSON.stringify(data.fields);
//            we.api.ajax({"url":"{:url('admin/auth.admin/edit','',false)}","data":data.fields,'tableid':'tableReload'});
//        });
//        formSelects.config('select', {
//            type: 'get',                //请求方式: post, get, put, delete...
//            header: {},                 //自定义请求头
//            data: {},                   //自定义除搜索内容外的其他数据
//            searchUrl: '',              //搜索地址, 默认使用xm-select-search的值, 此参数优先级高
//            searchName: 'keyword',      //自定义搜索内容的key值
//            searchVal: '',              //自定义搜索内容, 搜素一次后失效, 优先级高于搜索框中的值
//            keyName: 'name',            //自定义返回数据中name的key, 默认 name
//            keyVal: 'value',            //自定义返回数据中value的key, 默认 value
//            keySel: 'selected',         //自定义返回数据中selected的key, 默认 selected
//            keyDis: 'disabled',         //自定义返回数据中disabled的key, 默认 disabled
//            keyChildren: 'children',    //联动多选自定义children
//            delay: 500,                 //搜索延迟时间, 默认停止输入500ms后开始搜索
//            direction: 'auto',          //多选下拉方向, auto|up|down
//            response: {
//                statusCode: 0,          //成功状态码
//                statusName: 'code',     //code key
//                msgName: 'msg',         //msg key
//                dataName: 'data'        //data key
//            },
//            success: function(id, url, searchVal, result){      //使用远程方式的success回调
//                console.log(id);        //组件ID xm-select
//                console.log(url);       //URL
//                console.log(searchVal); //搜索的value
//                console.log(result);    //返回的结果
//            },
//            error: function(id, url, searchVal, err){           //使用远程方式的error回调
//                //同上
//                console.log(err);   //err对象
//            },
//            beforeSuccess: function(id, url, searchVal, result){        //success之前的回调, 干嘛呢? 处理数据的, 如果后台不想修改数据, 你也不想修改源码, 那就用这种方式处理下数据结构吧
//                console.log(id);        //组件ID xm-select
//                console.log(url);       //URL
//                console.log(searchVal); //搜索的value
//                console.log(result);    //返回的结果
//
//                return result;  //必须return一个结果, 这个结果要符合对应的数据结构
//            },
//            beforeSearch: function(id, url, searchVal){         //搜索前调用此方法, return true将触发搜索, 否则不触发
//                if(!searchVal){//如果搜索内容为空,就不触发搜索
//                    return false;
//                }
//                return true;
//            },
//            clearInput: false,          //当有搜索内容时, 点击选项是否清空搜索内容, 默认不清空
//        }, true);
    });
</script>
</body>
</html>
{/block}