<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>二维码生成器</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/style/admin.css" media="all">
    <script src="__STATIC__/layui/layui.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
    <!--<div class="layui-row layui-col-space15">-->
    <!--<div class="layui-col-md12 webody">-->
    <!--<div class="layui-card">-->
    <!--<fieldset class="layui-elem-field layui-field-title">-->
    <!--<legend>常规设置</legend>-->
    <!--</fieldset>-->
    <!--<div class="layui-card-body">-->
    <div class="layui-row">
        <div class="layui-col-md12">
            <ul class="layui-nav layui-bg-green" lay-filter="">
                <li class="layui-nav-item"><a href="">二维码生成器</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">文本</li>
            <li>网址</li>
            <li>图片</li>
            <li>名片</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" lay-filter="component-form-element" method="POST" action="">
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <table class="layui-table" lay-skin="line" lay-size="sm">
                                <colgroup>
                                    <col class="tdleft" width="20%">
                                    <col class="tdright">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td class="tdleft">文本内容<span class="tips">*</span></td>
                                    <td class="tdright"><textarea placeholder="文本内容" rows="20" class="layui-textarea" id="text" name="text"></textarea></td>
                                </tr>
                                <tr>
                                    <td class="tdleft">大小<span class="tips">*</span></td>
                                    <td class="tdright">
                                        <input type="number" name="size" id="size" autocomplete="off" value="200" max="600" data-rule="required" placeholder="" class="layui-input">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">容错级别<span class="tips">*</span></td>
                                    <td class="tdright">
                                        <!--<div class="layui-input-block">-->
                                            <input type="radio" name="errorcorrection" value="low" title="低" >
                                            <input type="radio" name="errorcorrection" value="medium" checked="" title="中等">
                                            <input type="radio" name="errorcorrection" value="quartile" title="高">
                                            <input type="radio" name="errorcorrection" value="high" title="超高">
                                        <!--</div>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">内边距<span class="tips">*</span></td>
                                    <td class="tdright">
                                        <input type="number" name="padding" id="padding" autocomplete="off" value="10" max="50" data-rule="required" placeholder="" class="layui-input">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">前景色<span class="tips">*</span></td>
                                    <td class="tdright">
                                        <input type="text" name="foreground" id="foreground" autocomplete="off" value="#ffffff" data-rule="required" placeholder="" class="layui-input">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdleft">LOGO</td>
                                    <td class="tdright">
                                        <button type="button" class="layui-btn layui-btn-sm" id="qrcodelogo">
                                            <i class="layui-icon">&#xe67c;</i>上传图片
                                        </button>
                                        <input type="hidden" name="logo" id="logo"   class="layui-input">
                                        <div class="layui-progress layui-progress-big" style="margin: 10px 0;display: none" id="progressBar" lay-showPercent="yes" lay-filter="progressBar">
                                            <div class="layui-progress-bar" lay-percent="0%"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-col-md6">
                            <div  style="margin-top: 11px; text-align: center;vertical-align: middle;line-height: 284px;height: 284px; ">
                                <div class="img_src" style="line-height: 284px;background: #F5F5F5 !important;">
                                    <!--<input type="hidden" name="qrcodeurl" id="qrcodeurl"  autocomplete="off" data-rule="required" placeholder="" class="layui-input">-->
                                    <p style="max-height: 284px;" class="p_msg">此处生成二维码</p>
                                    <img src="" alt="此处生成二维码" id='qrcodeimg' style="max-width:220px;max-height: 220px;display: none"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-input-block">
                        <!--<div class="footer">-->
                            <button class="layui-btn layui-btn-sm" type="submit" lay-submit="" lay-filter="component-form-element">生成二维码</button>
                            <button type="reset" class="layui-btn  layui-btn-sm">重置</button>
                        <!--</div>-->
                    </div>
                </form>
            </div>
            <div class="layui-tab-item" id="tab2">

            </div>
        </div>
    </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).use(['form','element','upload'], function(){
        var form = layui.form
            ,$ = layui.$
            ,upload = layui.upload
            ,element = layui.element;
//            var urlArr = location.href.split("#");
//              console.log(urlArr[1]);
//            var current = urlArr[1] ? urlArr[1] : "tab1";
//            $("#tabs").find("li[id^=li]").find("a[class="+current+"]").parent().addClass("currenttab");
//            $("#content").find("div[id^=tab]").not("div[id="+urlArr[1]+"]").hide();
//            $("#content").find("div[id="+current+"]").fadeIn();
//            $("#tabs").find("li[id^=li]").find("a").bind("click",function(){
//                var title = $(this).attr("class");
//                location.href = urlArr[0] + "#"+ title;
//                $("#tabs").find("li[id^=li]").not("li[id="+title+"]").removeClass("currenttab");
//                $(this).parent().addClass("currenttab");
//                $("#content").find("div[id^=tab]").not("div[id="+title+"]").hide();
//                $("#content").find("div[id="+title+"]").fadeIn();
//                return false;
//            })
        //执行实例
        var uploadInst = upload.render({
            elem: '#qrcodelogo' //绑定元素
            ,url: "{:url('/addons/qrcode/index/upload')}" //上传接口
//            ,field: 'logo'
            ,accept: 'file'
            ,exts:'jpg|png|gif|bmp|jpeg'
            ,progress: function(e , percent) {
                $("#progressBar").show();
                element.progress('progressBar',percent  + '%');
            }
            ,done: function(res){
                $("#logo").val(res.data.url);
//                console.log(res);
                //上传完毕回调
            }
            ,error: function(){
                $("#progressBar").hide();
                element.progress('progressBar', '0%');
                //请求异常回调
            }
        });

        $("form").submit(function () {
            if($("#text").val() != ''){
                $(".p_msg").hide();
                $("#qrcodeimg").css({"display":"inline-block"});
                $("#qrcodeimg").prop("src", "{:addon_url('qrcode/index/build',[],false)}?" + $(this).serialize());
                $("#qrcodeurl").val("{:addon_url('qrcode/index/build',[],false,true)}?" + $(this).serialize());
            }
            return false;
        });
        $("form").trigger('submit');
    });
</script>
