{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-container lay_top">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-xs12">
        <form class="layui-form" action="" lay-filter="rule">
            <div class="layui-form-item">
                <label class="layui-form-label">菜单</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="ismenu" lay-skin="switch" lay-text="是|否" {$list['ismenu'] == 1? 'checked' : ''}>
                    <input type="hidden" name="id" value="{$list['id']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父级</label>
                <div class="layui-input-block">
                    {:build_select('pid', $ruledata, $list['pid'], ['class'=>'form-control', 'required'=>''])}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" autocomplete="off" value="{$list['name']}" placeholder="规则名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="title" name="title" placeholder="标题" value="{$list['title']}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权重</label>
                <div class="layui-input-block">
                    <input type="weigh" name="weigh" placeholder="权重" value="{$list['weigh']}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">规则条件</label>
                <div class="layui-input-block">
                    <textarea placeholder="规则条件" class="layui-textarea" name="condition" rows="3">{$list['condition']}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁止"  {$list['status'] == 1? 'checked' : ''}>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="备注" class="layui-textarea" name="remark">{$list['remark']}</textarea>
                </div>
            </div>

            <div class="layui-form-item footer-form">
                <div class="footer">
                    <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn btn-success btn-embossed disabled">{:__('OK')}</button>
                    <button type="reset" class="layui-btn layui-btn-primary btn-embossed">{:__('Reset')}</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['jquery','index','form','element','we'], function(){
        var admin = layui.admin
            ,$ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,we = layui.we;
        //监听提交
        form.on('submit(formRule)', function(data){
            var formData = JSON.stringify(data.field);
            we.api.ajax({"url":"{:url('admin/auth.rule/edit','',false)}","data":data.field,'tableid':'tableReload'});
//            $.ajax({
//                "url":"{:url('admin/auth.rule/edit','',false)}",
//                "cache":false,
//                "data":data.field,
//                "async":true,
//                "type":'post',
//                "success":function(data){
//                    layer.msg(data.info);
//                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
//                    parent.layer.close(index); //再执行关闭
//                    console.log('关闭layer');
//                    parent.layui.table.reload('testReload');
//                },
//                "error":function (data) {
//                    layer.msg(data.info);
//                }
//            });

        });
    });
</script>
</body>
</html>
{/block}