<div class="layui-header">
    <!-- 头部区域 -->
    <div class="layui-logo" href="javascript:void(0);">
        <span>{:__('Management system')}</span>
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <!--<li class="layui-nav-item nav_menu layui-this"><a href="/admin/dashboard/detail"  data-id="{$key}">{:__('Situational awareness')}</a></li>-->
        {foreach $nav_list as $key=>$vo }
        <li class="layui-nav-item nav_menu {if condition="max($max_weigh) eq $vo['weigh']"}layui-this{/if}">
            <a lay-href="{$nav_url[$key]}" href="javascript:void(0);" data-id="{$key}">{:__($vo['title'])}</a>
            <dl class="layui-nav-child clearcache">
                <!--<dd><a href="javascript:;" data-type="all">{:__('Wipe all cache')}</a></dd>-->
                <!--<dd><a href="javascript:;" data-type="content">{:__('Wipe content cache')}</a></dd>-->
                <!--<dd><a href="javascript:;" data-type="template">{:__('Wipe template cache')}</a></dd>-->
                <!--<dd><a href="javascript:;" data-type="log">{:__('Wipe log cache')}</a></dd>-->
            </dl>
        </li>
        <div class="layui-dropdown">
            {foreach $vo['child'] as $key1=>$vo1 }
                <ul>
                    <h3>{$vo1['title']}</h3>
                    {foreach $vo1['child'] as $key2=>$vo2 }
                    <li><a href="javascript:void(0);" >{$vo2['title']}</a></li>
                    {/foreach}
                </ul>
            {/foreach}
        </div>
        {/foreach}
        <!--<li class="layui-nav-item" data-id=""><a href="javascript:void(0);">{:__('Home')}</a></li>-->
        <!--<li class="layui-nav-item"><a href="javascript:void(0);">{:__('Order management')}</a></li>-->
        <!--<li class="layui-nav-item"><a href="javascript:void(0);">{:__('Member management')}</a></li>-->
        <!--<li class="layui-nav-item"><a href="javascript:void(0);">{:__('Marketing management')}</a></li>-->
        <!--<li class="layui-nav-item"><a href="javascript:void(0);">{:__('Scoring management')}</a></li>-->
        <!--<li class="layui-nav-item"><a href="javascript:void(0);">{:__('Backstage management')}</a></li>-->
    </ul>

    <!--<ul class="layui-nav layui-bg-green ">-->
        <!--<li class="layui-nav-item"><a href="">墨绿导航</a></li>-->
        <!--<li class="layui-nav-item layui-this"><a href="">产品</a></li>-->
        <!--<li class="layui-nav-item"><a href="">大数据</a></li>-->
        <!--<li class="layui-nav-item">-->
            <!--<a href="javascript:;">解决方案</a>-->
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">移动模块</a></dd>-->
                <!--<dd><a href="">后台模版</a></dd>-->
                <!--<dd><a href="">电商平台</a></dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
    <!--</ul>-->

    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
        <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
            <!--<a href="javascript:;" target="_blank" title="{:__('Index')}">-->
                <!--<i class="layui-icon layui-icon-website"></i>-->
            <!--</a>-->
        <!--</li>-->
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="{:__('Refresh')}">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="{:__('Message center')}">
                <i class="layui-icon layui-icon-notice"></i>

                <!-- 如果有新消息，则显示小圆点 -->
                <span class="layui-badge-dot"></span>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
                <i class="layui-icon layui-icon-delete"></i>
            </a>
            <dl class="layui-nav-child clearcache">
                <dd><a href="javascript:;" data-type="all">{:__('Wipe all cache')}</a></dd>
                <dd><a href="javascript:;" data-type="content">{:__('Wipe content cache')}</a></dd>
                <dd><a href="javascript:;" data-type="template">{:__('Wipe template cache')}</a></dd>
                <dd><a href="javascript:;" data-type="log">{:__('Wipe log cache')}</a></dd>
            </dl>
        </li>

        <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
            <!--<a href="javascript:;" layadmin-event="lang">-->
                <!--中/EN-->
            <!--</a>-->
            <!--<dl class="layui-nav-child lang">-->
                <!--<dd><a href="javascript:;" data-type="zh-cn">中文简体</a></dd>-->
                <!--<dd><a href="javascript:;" data-type="en-us">English</a></dd>-->
            <!--</dl>-->
        <!--</li>-->

        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <cite>{$admin.nickname}</cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a lay-href="{:url('profile/index')}">{:__('Profile')}</a></dd>
                <dd><a lay-href="{:url('profile/index')}">{:__('Change password')}</a></dd>
                <dd><a href="{:url('index/logout')}">{:__('Logout')}</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>