<script>
    var clear_cache_url = "{:url('ajax/clearcache')}";
//    var menulist = {$menulist};
    layui.config({
        base: "__STATIC__/" //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','jquery','toastr'],function () {
        $ = layui.$
        ,toastr = layui.toastr
        toastr.options ={
            "closeButton":true,//显示关闭按钮
            "progressBar":true,
        };
        //清除缓存
        $(document).on('click', "dl.clearcache dd a", function () {
            $.ajax({
                url: clear_cache_url,
                dataType: 'json',
                data: {type: $(this).attr("data-type")},
                cache: false,
                success: function (ret) {
                    toastr.success(ret.msg);
                    $('.clearcache').removeClass('layui-show');
                }, error: function () {
                    toastr.error('非法操作');
                    $('.clearcache').removeClass('layui-show');
                }
            });
        });

        //语言切换
        $(document).on('click', "dl.lang dd a", function () {
           var lang_type = $(this).attr("data-type");
           window.location = "{$this_url}?lang=" + lang_type;
        });

    });
</script>
</body>
</html>