<!--短信模版弹出begin-->
<div class="body-form sms-module-layer auto-height-table" style="display: none">
    <div class="layui-form yty-tab">
        <div class="layui-tab" lay-filter="sms-href-tab">
            <ul class="layui-tab-title tabpage">
                <li class="layui-this" lay-id="recommended_scene"><a href="#">推荐场景</a></li>
                <li><a href="#">模板库</a></li>
                <li><a href="#">历史发送</a></li>
                <li><a href="#">近期节日</a></li>
            </ul>

            <div class="layui-tab-content sms-module-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-recommend-sms-module" lay-filter="form-sms-module">
                            <div class="searchbody">
                                <ul class="nav pull-left">
                                    <input type="hidden" name="sms_type" value="0" placeholder="" autocomplete="off" class="layui-input">
                                    <li>场景类型：
                                        <div class="layui-inline">
                                            <div class="layui-input-inline">
                                                <select name="recommended_scene" lay-verify="required" lay-search="">
                                                    <option value="4" selected>所有场景</option>
                                                    <option value="1">周年庆</option>
                                                    <option value="2">聚划算</option>
                                                    <option value="3">上新</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li><button class="layui-btn layui-btn-sm layui-btn-normal search-info" type="button" lay-submit="" lay-filter="component-form-element"><i class="layui-icon layui-icon-search"></i>搜索</button>
                                        <button type="reset" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-sm"><i class="layui-icon layui-icon-refresh-3"></i>重置</button>
                                    </li></ul>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-sms-module" lay-filter="form-sms-module">
                            <div class="searchbody">
                                <ul class="nav pull-left">
                                    <input type="hidden" name="sms_type" value="1" placeholder="" autocomplete="off" class="layui-input">
                                    <li>模板来源：
                                        <div class="layui-input-inline">
                                            <select name="modeltype" id="modeltype"  lay-verify="required" lay-search="">
                                                <option value="2" selected>所有类型</option>
                                                <option value="1">自定义模板</option>
                                                <option value="0">系统模板</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>模板类型：
                                        <div class="layui-input-inline">
                                            <select name="selecttemp" id="selecttemp" lay-verify="required" lay-search="">
                                                <option value="0" selected="selected">所有模板</option>
                                                <option value="16">会员短信 </option>
                                                <option value="17">指定号码发送</option>
                                                <option value="18">订单短信群发 </option>
                                                <option value="1">催付提醒</option>
                                                <option value="2">发货提醒</option>
                                                <option value="3">催付关怀</option>
                                                <option value="4">派送提醒</option>
                                                <option value="5">签收提醒</option>
                                                <option value="6">回款关怀 </option>
                                                <option value="7">退款关怀 </option>
                                                <option value="8">评价关怀 </option>
                                                <option value="9">中差评安抚 </option>
                                                <option value="12">催评价 </option>
                                                <option value="13">下单提醒 </option>
                                                <option value="14">宝贝关怀 </option>
                                                <option value="15">智能凑单 </option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>关键词：<input type="text" name="keyword" id="keyword" placeholder="" autocomplete="off" class="layui-input"></li>
                                    <li><button class="layui-btn layui-btn-sm layui-btn-normal search-info" type="button" lay-submit="" lay-filter="component-form-element"><i class="layui-icon layui-icon-search"></i>搜索</button>
                                        <button type="reset" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-sm"><i class="layui-icon layui-icon-refresh-3"></i>重置</button>
                                    </li></ul>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <input type="hidden" name="sms_type" value="2" placeholder="" autocomplete="off" class="layui-input">
                        <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-history-sms-module" lay-filter="form-sms-module">
                            <input type="hidden" name="sms_type" value="3" placeholder="" autocomplete="off" class="layui-input">
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-latest-sms-module" lay-filter="form-sms-module">
                            <input type="hidden" name="sms_type" value="3" placeholder="" autocomplete="off" class="layui-input">
                        </form>
                    </div>
            <div class="layui-row">
                <table class="layui-hide" id="table-sms" lay-filter="table_sms" table-reload-id="tableReload"></table>
            </div>
            </div>
        </div>
    </div>
</div>
<!--短信模版弹出end-->

<!--短链模版弹出begin-->
<div class="body-form short-href-layer auto-height-table" style="display: none">
    <div class="layui-form yty-tab">
        <div class="layui-tab" lay-filter="short-href-tab">
            <ul class="layui-tab-title tabpage">
                <li class="layui-this" lay-id="common_link"><a href="#">店铺常用链接</a></li>
                <li><a href="#">宝贝链接</a></li>
                <li><a href="#">宝贝分类</a></li>
                <li><a href="#">优惠券</a></li>
                <li><a href="#">搭配套餐</a></li>
                <li><a href="#">金店长活动</a></li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <!--<div class="layui-row">-->
                <div class="layui-tab-item layui-show common_link"></div>
                <div class="layui-tab-item good_link">
                    <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-sms-good-link" lay-filter="form-sms-good-link">
                        <div class="searchbody">
                            <ul class="nav pull-left">
                                <input type="hidden" name="short_sms_type" value="1" placeholder="" autocomplete="off" class="layui-input">
                                <li>宝贝状态：
                                    <div class="layui-input-inline">
                                        <select name="goods_status" id="goods_status" lay-verify="required" lay-search="">
                                            <option value="1" selected>所有状态</option>
                                            <option value="2">出售中</option>
                                            <option value="3">仓库中</option>
                                        </select>
                                    </div>
                                </li>
                                <li>宝贝ID：<input type="text" name="goods_id" id="goods_id" placeholder="" autocomplete="off" class="layui-input"></li>
                                <li>宝贝标题：<input type="text" name="goods_title" id="goods_title" placeholder="" autocomplete="off" class="layui-input"></li>
                                <li><button class="layui-btn layui-btn-sm layui-btn-normal search-info" type="button" lay-submit="" lay-filter="component-form-element"><i class="layui-icon layui-icon-search"></i>搜索</button>
                                    <button type="reset" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-sm"><i class="layui-icon layui-icon-refresh-3"></i>重置</button>
                                </li></ul>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item gategory_list"></div>
                <div class="layui-tab-item coupon_list"></div>
                <div class="layui-tab-item match_list"></div>
                <div class="layui-tab-item jdz_list">
                    <form class="layui-form" method="POST" action="/sms_data.json" tableid="tableReload" id="form-sms-jdz-list" lay-filter="form-sms-jdz-list">
                        <div class="searchbody">
                            <ul class="nav pull-left">
                                <input type="hidden" name="short_sms_type" value="5" placeholder="" autocomplete="off" class="layui-input">
                                <li>活动名称：<input type="text" name="act_name" id="act_name" placeholder="" autocomplete="off" class="layui-input"></li>
                                <li>页面标题：<input type="text" name="act_title" id="act_title" placeholder="" autocomplete="off" class="layui-input"></li>
                                <li><button class="layui-btn layui-btn-sm layui-btn-normal search-info" type="button" lay-submit="" lay-filter="component-form-element"><i class="layui-icon layui-icon-search"></i>搜索</button>
                                    <button type="reset" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-sm"><i class="layui-icon layui-icon-refresh-3"></i>重置</button>
                                </li></ul>
                        </div>
                    </form>
                </div>
                <!--</div>-->
                <div class="layui-row">
                    <table class="layui-hide" id="table-short-link-sms" lay-filter="table-short-link-sms" table-reload-id="tableReload"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--短链模版弹出end-->
