<script>
    var server_ip = "{$_SERVER['SERVER_ADDR']}";
    var register_port = "{:config('worker.gateway_port')}";
    var user_info = '{:session("admin_info")}';
    register_port = register_port ? register_port : '8282';
    var socket;
    var server_ip_arr =server_ip.split(":");
    function socketInit(){
        var host = "ws://"+server_ip_arr['0']+":" + register_port;
        try{
            socket = new WebSocket(host);
//            socket.onopen    = function(msg){
//                console.log("socket create success!");
//            };

            //连接成功时触发
            socket.onopen = function(){
                socket.send(user_info);
                console.log("socket create success!");
            };

            //接收数据
            socket.onmessage = function(msg){
                console.log(msg.data);
            };

            //关闭
            socket.onclose   = function(msg){
                console.log("socket close Success");
            }

            //异常
            socket.onerror   = function(msg){
                console.log("socket Error!");
            };
        }catch(ex){
            console.log(ex);
        }
    }
    socketInit();
</script>