{extend name="layout/default2" /}
{block name="content"}
<body>
<!--<div class="layui-container lay_top">-->
<!--<div class="layui-row layui-col-space30">-->
<div class="body-form">
    <form class="layui-form" action="{:url('admin/push/edit','',false)}" tableid="tableReload" method="post" lay-filter="rule" id="formRule">
        <table class="layui-table yty-form" lay-skin="line" lay-size="sm">
            <colgroup>
                <col class="tdleft" width="30%">
                <col class="tdright">
            </colgroup>
            <tbody>
            <tr>
                <td class="tdleft"></td>
                <td colspan="2" class="tdright">
                    <div class="layui-form" lay-filter="check_all">
                        <input type="radio" name="check_all" lay-filter="check_all" class="check_all" value="all" title="全选">
                        <input type="radio" name="check_all" lay-filter="check_all" value="none" class="check_all_none" title="反选">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华东地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="上海" class="">
                        <input type="checkbox" name="cityId[]" title="浙江" class="">
                        <input type="checkbox" name="cityId[]" title="江苏" class="">
                        <input type="checkbox" name="cityId[]" title="安徽" class="">
                        <input type="checkbox" name="cityId[]" title="江西" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="北京" class="">
                        <input type="checkbox" name="cityId[]" title="天津" class="">
                        <input type="checkbox" name="cityId[]" title="安徽" class="">
                        <input type="checkbox" name="cityId[]" title="山西" class="">
                        <input type="checkbox" name="cityId[]" title="山东" class="">
                        <input type="checkbox" name="cityId[]" title="内蒙古" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华中地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="湖北" class="">
                        <input type="checkbox" name="cityId[]" title="湖南" class="">
                        <input type="checkbox" name="cityId[]" title="河南" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华南地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="广东" class="">
                        <input type="checkbox" name="cityId[]" title="广西" class="">
                        <input type="checkbox" name="cityId[]" title="福建" class="">
                        <input type="checkbox" name="cityId[]" title="海南" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">东北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="辽宁" class="">
                        <input type="checkbox" name="cityId[]" title="吉林" class="">
                        <input type="checkbox" name="cityId[]" title="黑龙江" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">西北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="陕西" class="">
                        <input type="checkbox" name="cityId[]" title="新疆" class="">
                        <input type="checkbox" name="cityId[]" title="青海" class="">
                        <input type="checkbox" name="cityId[]" title="宁夏" class="">
                        <input type="checkbox" name="cityId[]" title="甘肃" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">西南地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="四川" class="">
                        <input type="checkbox" name="cityId[]" title="云南" class="">
                        <input type="checkbox" name="cityId[]" title="贵州" class="">
                        <input type="checkbox" name="cityId[]" title="西藏" class="">
                        <input type="checkbox" name="cityId[]" title="重庆" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">港澳台地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="香港" class="">
                        <input type="checkbox" name="cityId[]" title="澳门" class="">
                        <input type="checkbox" name="cityId[]" title="台湾" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">海外地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" title="海外" class="">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="layui-form-item footer-form">
            <div class="footer">
                <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed disabled">{:__('OK')}</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed">{:__('Reset')}</button>
            </div>
        </div>
    </form>
</div>
<!--</div>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
//        ,validator:'jquery.validator'
//        ,zhCN:'zh-CN'
    }).link(
        '__STATIC__/style/jquery.validator.css?v={$msectime}'
    ).link(
        " __STATIC__/style/jquery.validator.css?v={$msectime}"
    ).use(['jquery','index','laydate','form','formValidator'], function(){
        var admin = layui.admin
            ,$ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,laydate = layui.laydate
            ,formValidator = layui.formValidator;

        laydate.render({
            elem: '#time_push' //指定元素
            ,type: 'datetime'
        });

        laydate.render({
            elem: '#createtime' //指定元素
            ,type: 'datetime'
        });
        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#formRule"));

        /**
         * 地区点击选中事件
         */
        $("body").on("click",".layui-form-checkbox",function (){
            var p = $(this).prev();
            if(p.attr('class') == 'all' && p.attr('class') !== 'undefined') {
                if($(this).hasClass('layui-form-checked')) {
                    $(this).parent(".layui-form").children('input').prop('checked', true);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').addClass('layui-form-checked');
                } else {
                    $(this).parent(".layui-form").children('input').prop('checked', false);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').removeClass('layui-form-checked');
                }
            }
        });

        /**
         *全选、反选
         */
        form.on('radio(check_all)', function(data){
            var value = data.value;
            if(value == 'all') {
                $("input[type=checkbox]").prop('checked', true);
                $(".layui-form-checkbox").addClass('layui-form-checked');
            } else {
                $("input[type=checkbox]").prop('checked', false);
                $(".layui-form-checkbox").removeClass('layui-form-checked');
            }
        });


    });
</script>
</body>
</html>
{/block}