{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody">
            <div class="layui-card main-table">
                <div class="layui-card-header yty-card-header"><span class="sm-st-icon-left shop-info"><i class="fa  fa-ellipsis-v"></i></span>订单查询</div>
                <div class="layui-card-body">
                    <!--表格查询条件begin-->
                    <table class="layui-table table-border yty-form" lay-skin="line" lay-size="sm" style="margin-bottom: 15px">
                        <colgroup>
                            <col class="yty_tdright" width="100px">
                            <col class="yty_tdright">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="yty_tdleft">订单编号 :</td>
                            <td class="yty_tdright">
                                <input type="text" name="tid" id="tid" placeholder="" autocomplete="off" class="layui-input input-margin">
                                手机号码：
                                <input type="mobile" name="mobile" id="mobile" placeholder="" autocomplete="off" class="layui-input input-margin">
                                省份：
                                <input type="text" name="areaId" id="areaId" placeholder="" autocomplete="off" class="layui-input input-margin">
                                商品ID：
                                <input type="text" name="itemId" id="itemId" placeholder="" autocomplete="off" class="layui-input input-margin">
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">下单时间 :</td>
                            <td class="yty_tdright">
                                <input type="text" name="time_start" id="time_start" placeholder="" autocomplete="off" class="layui-input" lay-key="1"> — <input type="text" name="time_end" id="time_end" placeholder="" autocomplete="off" class="layui-input input-margin" lay-key="2">
                                订单金额：
                                <input type="text" name="payment_start" id="payment_start" placeholder="" autocomplete="off" class="layui-input" lay-key="1"> — <input type="text" name="payment_end" id="payment_end" placeholder="" autocomplete="off" class="layui-input" lay-key="2">
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">订单来源 :</td>
                            <td class="yty_tdright">
                                <div class="layui-form">
                                    <input type="checkbox" name="tradefrom[pc]" title="pc端" checked="">
                                    <input type="checkbox" name="like[wap]" title="移动端" checked="">
                                    <input type="checkbox" name="like[ht]" title="历史订单">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">屏蔽标旗 :</td>
                            <td class="yty_tdright">
                                <ul class="yty-checkbox">
                                    <li class="checkbox-active"><span class="red_flag"></span></li>
                                    <li><span class="yellow_flag"></span></li>
                                    <li><span class="cyan_flag"></span></li>
                                    <li><span class="blue_flag"></span></li>
                                    <li><span class="purple_flag"></span></li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">订单状态 :</td>
                            <td class="yty_tdright">
                                <div class="layui-form">
                                    <input type="checkbox" name="orderStatus[WAIT_BUYER_PAY]" title="下单未付款" checked="">
                                    <input type="checkbox" name="orderStatus[WAIT_SELLER_SEND_GOODS]" title="付款未发货">
                                    <input type="checkbox" name="orderStatus[WAIT_BUYER_CONFIRM_GOODS]" title="已发货">
                                    <input type="checkbox" name="orderStatus[SELLER_CONSIGNED_PART]" title="部分发货">
                                    <input type="checkbox" name="orderStatus[TRADE_FINISHED]" title="交易成功">
                                    <input type="checkbox" name="orderStatus[TRADE_CLOSED]" title="已退款">
                                    <input type="checkbox" name="orderStatus[TRADE_CLOSED_BY_TAOBAO]" title="交易关闭">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">评价状态 :</td>
                            <td class="yty_tdright">
                                <div class="layui-form">
                                    <input type="checkbox" name="evaluationStatus[ALL]" title="全部" checked="">
                                    <input type="checkbox" name="evaluationStatus[BUYER_RATE]" title="买家已评">
                                    <input type="checkbox" name="evaluationStatus[BUYER_NOT_RATE]" title="买家未评">
                                    <input type="checkbox" name="evaluationStatus[BUYER_NOT_RATE]" title="买家未评，卖家已评">
                                    <input type="checkbox" name="evaluationStatus[BUYER_RATE_SELLER_NOT]" title="双发已评">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="yty_tdleft">订单类型 :</td>
                            <td class="yty_tdright">
                                <div class="layui-form">
                                    <input type="checkbox" name="orderType[ALL]" title="全部" checked="">
                                    <input type="checkbox" name="orderType[FRONT_NOPAID_FINAL_NOPAID]" title="定金未定">
                                    <input type="checkbox" name="orderType[FRONT_PAID_FINAL_NOPAID]" title="已付定金，未付尾款">
                                    <input type="checkbox" name="orderType[FRONT_PAID_FINAL_PAID]" title="定金已付，尾款已付">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--表格查询条件end-->

                    <!--订单查询结果begin-->
                    <table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>
                    <!--订单查询结果end-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--头工具栏-->
<!--{:build_toolbar('toolbar',['refresh'])}-->

<!--表格头部按钮begin-->
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-search"></i> 查询</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-envelope-o"></i> 发送短信</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-envelope-o"></i> 按查询结果发送</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-plus"></i> 添加订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-file-text-o"></i> 导入苏宁订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-file-o"></i> 导出苏宁订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event=""><i class="fa fa-hand-o-down"></i> 拉黑</a>
</script>
<!--表格头部按钮end-->

<!--头工具栏-->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchPush">
    <input type="checkbox" name="is_time_push" value="{{d.is_time_push}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.is_time_push == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
<!--{:build_actionbar('actionbar',['edit','test', 'del'])}-->
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','upload','laydate','element','form','authtree','we','weTable'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,$  = layui.$
            ,laydate = layui.laydate
            ,form = layui.form
            ,upload = layui.upload
            ,weTable = layui.weTable
            ,toastr = layui.toastr;

        table.render({
            elem: '#rule'
            ,url:""
            ,id : 'tableReload'
            ,skin:'line'
            ,limit:10
            ,defaultToolbar: ['filter']
            ,toolbar : '#toolbar'
            ,height:400
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'buyer_name', title: '买家昵称', sort: true,minWidth:150}
                ,{field:'consignee_name', title: '收货人姓名',minWidth:150}
                ,{field:'order_status', title: '订单状态',templet: '#switchStatus', sort: true,minWidth:100}
                ,{field:'order_source', title: '订单来源', sort: true,minWidth:150}
                ,{field:'consignee_city', title: '收货人所在城市',minWidth:150}
                ,{field:'mobile', title: '手机号码',minWidth:100}
                ,{field:'order_number', title: '订单编号',minWidth:150}
                ,{field:'pay_money', title: '付款金额（元）',minWidth:100}
                ,{field:'order_time', title: '下单时间',minWidth:100}
                ,{field:'commodity', title: '购买的宝贝',minWidth:150}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        });
        var demoListView = $('#demoList');
        var uploadListIns = upload.render({
            elem: '#upload'
            ,url: "{:url('Admin/Order/upload')}"
            ,done: function(res, index, upload){ //上传后的回调

            }
            ,progress: function(e , percent) {
                element.progress('progressBar',percent  + '%');
            }
            ,accept: 'file' //允许上传的文件类型
            ,size: 50*1024*1024 //最大允许上传的文件大小
            ,auto:false
            ,multiple: true
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ we.format_bytes(file.size,'') +'</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                    element.progress('progressBar', '0%');
                    $("#progressBar").show();
                    $(".upload-btn").removeClass('layui-btn-disabled');
                });
            }
            ,done: function(res, index, upload){
                console.log(res);
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                if(res.status == 'success'){ //上传成功
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                } else {
                    tds.eq(2).html('<span style="color: #FF5722;">'+res.msg+'</span>');
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                element.progress('progressBar', '0%');
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
//                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        laydate.render({
            elem: '#time_start' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#time_end' //指定元素
            ,type: 'datetime'
        });
        //监听性别操作
        form.on('switch(ruleStatus)', function(obj){
//            console.log(obj);
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

//        function format_bytes(size, delimiter)
//        {
//            var units = ['B', 'KB', 'MB', 'GB', 'TB', 'PB'];
//            for (var i = 0; size >= 1024 && i < 6; i++)
//                size /= 1024;
//            return size.toFixed(2) + delimiter + units[i];
//        }

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            tableid : "tableReload",
            extend : {
                "add_url": "{:url('admin/push/add','',false)}",
                "edit_url": "{:url('admin/push/edit','',false)}/ids/",
                "del_url": "{:url('admin/push/del','',false)}",
            }
        });

//        table.on('tool('+weTable.defaults.table+')', function(obj){
//            var data = obj.data;
//            if(obj.event === 'test'){
//                console.log('推送测试');
//            }
//        });
        /**
         * 绑定监听事件
         * */
        weTable.api.bindevent();

        /**
         * 屏蔽标旗点击切换
         */
        $("body").on("click","ul li",function (){
            if($(this).hasClass('checkbox-active')) {
                $(this).removeClass('checkbox-active');
            } else {
                $(this).addClass('checkbox-active')
            }
        });

        /**
         * 省份点击
         */
        $("body").on("click","#areaId",function (){
            console.log(123);
            var url = "{:url('admin/order/getAreaId','',false)}";
            we.api.open(url,'选择所在省份');
        })

    });

</script>
</body>
</html>
{/block}