{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm" id="upload">
                            <i class="layui-icon">&#xe654;</i>添加文件
                        </button>
                        <button type="button"  class="layui-btn upload-btn layui-btn-disabled layui-btn-sm" id="testListAction"><i class="layui-icon">&#xe67c;</i>开始上传</button>
                        <div class="layui-progress layui-progress-big" style="margin: 10px 0;display: none" id="progressBar" lay-showPercent="yes" lay-filter="progressBar">
                            <div class="layui-progress-bar" lay-percent="0%"></div>
                        </div>
                        <div class="layui-upload-list">
                            <table class="layui-table">
                                <thead>
                                <tr><th>文件名</th>
                                    <th>大小</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr></thead>
                                <tbody id="demoList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--头工具栏-->
{:build_toolbar('toolbar',['refresh', 'add', 'del'])}
<!--头工具栏-->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchPush">
    <input type="checkbox" name="is_time_push" value="{{d.is_time_push}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.is_time_push == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
{:build_actionbar('actionbar',['edit','test', 'del'])}
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','upload','element','form','authtree','we','weTable'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,form = layui.form
            ,upload = layui.upload
            ,weTable = layui.weTable
            ,toastr = layui.toastr;

        table.render({
            elem: '#rule'
//            ,height: 500
            ,url:"{:url('Admin/Order/index')}"
            ,id : 'tableReload'
            ,skin:'line'
            ,toolbar : '#toolbar'
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'id', title: 'ID', sort: true}
                ,{field:'title', title: '概要'}
                ,{field:'status', title: '状态',templet: '#switchStatus', sort: true}
                ,{field:'is_time_push', title: '是否定时推送',templet: '#switchPush', sort: true}
                ,{field:'time_push', title: '定时推送时间'}
                ,{field:'createtime', title: '创建时间', minWidth: 150}
                ,{fixed: 'right', title:'操作', toolbar: '#actionbar', width:250}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
        });
        var demoListView = $('#demoList');
        var uploadListIns = upload.render({
            elem: '#upload'
            ,url: "{:url('Admin/Order/upload')}"
            ,done: function(res, index, upload){ //上传后的回调

            }
            ,progress: function(e , percent) {
                element.progress('progressBar',percent  + '%');
            }
            ,accept: 'file' //允许上传的文件类型
            ,size: 50*1024*1024 //最大允许上传的文件大小
            ,auto:false
            ,multiple: true
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ we.format_bytes(file.size,'') +'</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                    element.progress('progressBar', '0%');
                    $("#progressBar").show();
                    $(".upload-btn").removeClass('layui-btn-disabled');
                });
            }
            ,done: function(res, index, upload){
                console.log(res);
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                if(res.status == 'success'){ //上传成功
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                } else {
                    tds.eq(2).html('<span style="color: #FF5722;">'+res.msg+'</span>');
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                element.progress('progressBar', '0%');
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
//                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        //监听性别操作
        form.on('switch(ruleStatus)', function(obj){
//            console.log(obj);
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

//        function format_bytes(size, delimiter)
//        {
//            var units = ['B', 'KB', 'MB', 'GB', 'TB', 'PB'];
//            for (var i = 0; size >= 1024 && i < 6; i++)
//                size /= 1024;
//            return size.toFixed(2) + delimiter + units[i];
//        }

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            tableid : "tableReload",
            extend : {
                "add_url": "{:url('admin/push/add','',false)}",
                "edit_url": "{:url('admin/push/edit','',false)}/ids/",
                "del_url": "{:url('admin/push/del','',false)}",
            }
        });

//        table.on('tool('+weTable.defaults.table+')', function(obj){
//            var data = obj.data;
//            if(obj.event === 'test'){
//                console.log('推送测试');
//            }
//        });
        /**
         * 绑定监听事件
         * */
        weTable.api.bindevent();
    });

</script>
</body>
</html>
{/block}