{extend name="layout/default" /}
{block name="content"}
<!--获取省份弹出begin-->
<div class="body-form layer-form" style="display: none">
    <div class="layui-form">
        <table class="layui-table yty-form" lay-skin="line" lay-size="sm">
            <colgroup>
                <col class="tdleft" width="30%">
                <col class="tdright">
            </colgroup>
            <tbody>
            <tr>
                <td class="tdleft"></td>
                <td colspan="2" class="tdright">
                    <div class="layui-form">
                        <input type="radio" name="check_all" lay-filter="check_all" class="check_all" value="all" title="全选">
                        <input type="radio" name="check_all" lay-filter="check_all" value="none" class="check_all_none" title="反选">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华东地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" lay-filter="cityId" value="1" title="上海" class="">
                        <input type="checkbox" name="cityId[]" lay-filter="cityId" value="2" title="浙江" class="">
                        <input type="checkbox" name="cityId[]" lay-filter="cityId" value="3" title="江苏" class="">
                        <input type="checkbox" name="cityId[]" lay-filter="cityId" value="4" title="安徽" class="">
                        <input type="checkbox" name="cityId[]" lay-filter="cityId" value="5" title="江西" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="6" lay-filter="cityId" title="北京" class="">
                        <input type="checkbox" name="cityId[]" value="7" lay-filter="cityId" title="天津" class="">
                        <input type="checkbox" name="cityId[]" value="8" lay-filter="cityId" title="安徽" class="">
                        <input type="checkbox" name="cityId[]" value="9" lay-filter="cityId" title="山西" class="">
                        <input type="checkbox" name="cityId[]" value="10" lay-filter="cityId" title="山东" class="">
                        <input type="checkbox" name="cityId[]" value="11" lay-filter="cityId" title="内蒙古" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华中地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="12" lay-filter="cityId" title="湖北" class="">
                        <input type="checkbox" name="cityId[]" value="13" lay-filter="cityId" title="湖南" class="">
                        <input type="checkbox" name="cityId[]" value="14" lay-filter="cityId" title="河南" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">华南地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="16" lay-filter="cityId" title="广东" class="">
                        <input type="checkbox" name="cityId[]" value="17" lay-filter="cityId" title="广西" class="">
                        <input type="checkbox" name="cityId[]" value="18" lay-filter="cityId" title="福建" class="">
                        <input type="checkbox" name="cityId[]" value="19" lay-filter="cityId" title="海南" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">东北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="20" lay-filter="cityId" title="辽宁" class="">
                        <input type="checkbox" name="cityId[]" value="21" lay-filter="cityId" title="吉林" class="">
                        <input type="checkbox" name="cityId[]" value="22" lay-filter="cityId" title="黑龙江" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">西北地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="23" lay-filter="cityId" title="陕西" class="">
                        <input type="checkbox" name="cityId[]" value="24" lay-filter="cityId" title="新疆" class="">
                        <input type="checkbox" name="cityId[]" value="25" lay-filter="cityId" title="青海" class="">
                        <input type="checkbox" name="cityId[]" value="26" lay-filter="cityId" title="宁夏" class="">
                        <input type="checkbox" name="cityId[]" value="27" lay-filter="cityId" title="甘肃" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">西南地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]" title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="28" lay-filter="cityId" title="四川" class="">
                        <input type="checkbox" name="cityId[]" value="29" lay-filter="cityId" title="云南" class="">
                        <input type="checkbox" name="cityId[]" value="30" lay-filter="cityId" title="贵州" class="">
                        <input type="checkbox" name="cityId[]" value="31" lay-filter="cityId" title="西藏" class="">
                        <input type="checkbox" name="cityId[]" value="32" lay-filter="cityId" title="重庆" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">港澳台地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="33" lay-filter="cityId" title="香港" class="">
                        <input type="checkbox" name="cityId[]" value="34" lay-filter="cityId" title="澳门" class="">
                        <input type="checkbox" name="cityId[]" value="35" lay-filter="cityId" title="台湾" class="">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdleft">海外地区:</td>
                <td class="tdright">
                    <div class="layui-form">
                        <input type="checkbox" name="cityId[]"  title="全部" class="all">
                        <input type="checkbox" name="cityId[]" value="36" lay-filter="cityId" title="海外" class="">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="layui-form-item layer-form-footer">
            <div class="footer-inner">
                <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal submit layui-btn-sm btn-embossed">{:__('OK')}</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed reset">{:__('Reset')}</button>
            </div>
        </div>
    </div>
</div>
<!--获取省份弹出end-->


<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 webody">
            <div class="layui-card main-table">
                <div class="layui-card-header yty-card-header"><span class="sm-st-icon-left shop-info"><i class="fa  fa-ellipsis-v"></i></span>下单关怀</div>
                <div class="layui-card-body main-body">
                    <!--表格查询条件begin-->
                    <!--<div class="searchbody">-->
                        <form class="layui-form" method="post" action="" tableid="tableReload" id="formRule" lay-filter="rule">
                            <table class="layui-table table-border  dashed-td" lay-skin="line" lay-size="sm" style="margin-bottom: 15px">
                                <colgroup>
                                    <col class="yty_tdright" width="100px">
                                    <col class="yty_tdright">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td class="yty_tdleft"> 是否开启 :</td>
                                    <td class="yty_tdright">
                                        <!--<div class="layui-form-item">-->
                                            <!--<div class="layui-input-block">-->
                                                <input type="radio" name="switch" value="1" title="开">
                                                <input type="radio" name="switch" value="0" title="关" checked="">
                                            <!--</div>-->
                                        <!--</div>-->
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 任务名称 :</td>
                                    <td class="yty_tdright">
                                        <input type="text" name="taskname" id="taskname" placeholder="" autocomplete="off" class="layui-input">
                                        <span>(仅软件内部使用)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 发送日期 :</td>
                                    <td class="yty_tdright">
                                        <!--<div class="layui-form-item">-->
                                        <!--<div class="layui-input-block">-->
                                        <input type="radio" name="date_switch" lay-filter="date_switch" value="1" title="不限日期" checked="">
                                        <input type="radio" name="date_switch" lay-filter="date_switch" value="0" title="指定日期">
                                        <!--</div>-->
                                        <!--</div>-->
                                    </td>
                                </tr>

                                <tr class="task_time" style="display: none">
                                    <td class="yty_tdleft">任务时间 :</td>
                                    <td class="yty_tdright">
                                        <input type="text" name="task_time_start" id="task_time_start" placeholder="" autocomplete="off" class="layui-input"> — <input type="text" name="task_time_end" id="task_time_end" placeholder="" autocomplete="off" class="layui-input input-margin">
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 发送时间 :</td>
                                    <td class="yty_tdright">
                                        每天 <input type="text" name="day_hour_start" id="day_hour_start" placeholder="" autocomplete="off" class="layui-input"> 时 至
                                        <input type="text" name="day_hour_end" id="day_hour_end" placeholder="" autocomplete="off" class="layui-input">
                                        时，发送关怀提醒 (其他时间自动延迟到次日发送)
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <input type="radio" name="date_notice_switch" lay-filter="date_notice_switch" value="1" title="超出时间次日通知" checked="">
                                        <input type="radio" name="date_notice_switch" lay-filter="date_notice_switch" value="0" title="超出时间不发送">
                                        <br>
                                        <p class="marginbuttom5"></p>
                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        午休时间 <input type="text" name="day_hour_start" id="siesta_hour_start" placeholder="" autocomplete="off" class="layui-input"> 时 至
                                        <input type="text" name="day_hour_end" id="siesta_hour_end" placeholder="" autocomplete="off" class="layui-input">
                                        不发送
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 关怀条件 :</td>
                                    <td class="yty_tdright">
                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        实付金额 <input type="number" value="0.00" min="0" name="actually_paid_start" id="actually_paid_start" placeholder="" autocomplete="off" class="layui-input"> —
                                        <input type="number" min="0" value="0.00" name="actually_paid_end" id="actually_paid_end" placeholder="" autocomplete="off" class="layui-input">元
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        商品数量 <input type="number" value="0" min="0" name="number_of_products_start" id="number_of_products_start" placeholder="" autocomplete="off" class="layui-input"> —
                                        <input type="number" min="0" value="" name="number_of_products_end" id="number_of_products_end" placeholder="" autocomplete="off" class="layui-input">件
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <div class="layui-inline yty-form">
                                        <span>订单中</span>
                                            <div class="layui-input-inline">
                                            <select name="modules" lay-verify="required" lay-search=""><option value="1">包含</option><option value="0">不包含</option></select>
                                            </div>
                                        <span>指定商品</span>
                                            <button type="button" name="" id="" placeholder="" autocomplete="off" class="layui-btn layui-btn-sm  layui-btn-primary">默认不选择商品</button>
                                        </div>
                                        <br>
                                        <p class="marginbuttom5"></p>
                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">订单类型为<span style="color: #FF5722">货到付款</span>时才发送提醒
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 过滤设置 :</td>
                                    <td class="yty_tdright">
                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        <div class="layui-inline yty-form">
                                            <span>不发送</span>
                                            <div class="layui-input-inline">
                                                <select name="modules" lay-verify="required" lay-search="">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3" selected>3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <span>天内有过付款的客户</span>
                                        </div>
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        不发送标旗订单
                                        <div class="layui-inline yty-form">
                                        <ul class="yty-checkbox">
                                            <li class="checkbox-active"><span class="red_flag"></span></li>
                                            <li><span class="yellow_flag"></span></li>
                                            <li><span class="cyan_flag"></span></li>
                                            <li><span class="blue_flag"></span></li>
                                            <li><span class="purple_flag"></span></li>
                                        </ul>
                                        </div>
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        不发送订单来源
                                        <input type="checkbox" name="order_from[pc]" lay-skin="primary"  title="PC端">
                                        <input type="checkbox" name="order_from[mobile]" lay-skin="primary"  title="移动端">
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">当收货地区是
                                        <input type="text" name="shipping_address" id="shipping_address" placeholder="" autocomplete="off" class="layui-input"> 时,短信不提醒！
                                        <br>
                                        <p class="marginbuttom5"></p>

                                        不发送黑名单客户 <a href="javascript:void(0);" class="astyle">设置黑名单</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="yty_tdleft"> 赠送礼品 :</td>
                                    <td class="yty_tdright">
                                        <input type="checkbox" name="date[check]" lay-skin="primary"  title="" checked="">
                                        <div class="layui-inline yty-form">
                                            <span>赠送流量</span>
                                            <a href="javascript:void(0);" class="astyle">选择流量卡 </a>
                                            <a href="javascript:void(0);" class="astyle">流量充值 </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="yty-form">
                                    <td class="yty_tdleft"> 短信内容 :</td>
                                    <td class="yty_tdright">
                                        <div class="layui-inline layui-form">
                                            <textarea placeholder="请输入内容" class="layui-textarea yty-textarea" readonly>注意防骗：如骗子电话短.信骚扰说订单不能发货索取账号信息及银行.卡信息，千万不能相信，有任何问题上线联系客服哦，谨防诈骗！</textarea>
                                            <a href="javascript:void(0);" class="astyle">修改短信内容</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="layui-form-item footer-form">
                                <div class="footer footer-common">
                                    <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed disabled">{:__('OK')}</button>
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal btn-embossed">{:__('Reset')}</button>
                                    <a href="{:url($return_url)}"><div type="reset" style="margin-left: 10px" class="layui-btn layui-btn-normal layui-btn-sm btn-embossed go-back">返回</div></a>
                                    <!--onclick="window.history.go(-1)"-->
                                </div>
                            </div>
                        </form>
                    <!--</div>-->
                    <!--表格查询条件end-->

                    <!--订单查询结果begin-->
                    <!--<table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload"></table>-->
                    <!--订单查询结果end-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--头工具栏-->
<!--{:build_toolbar('toolbar',['refresh'])}-->

<!--表格头部按钮begin-->
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="search"><i class="fa fa-search"></i> 查询</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="sendSms"><i class="fa fa-envelope-o"></i> 发送短信</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="sendSearchResultSms"><i class="fa fa-envelope-o"></i> 按查询结果发送</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addOrder"><i class="fa fa-plus"></i> 添加订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importOrder"><i class="fa fa-file-text-o"></i> 导入苏宁订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="exportOrder"><i class="fa fa-file-o"></i> 导出苏宁订单</a>
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="toBlack"><i class="fa fa-hand-o-down"></i> 拉黑</a>
</script>
<!--表格头部按钮end-->

<!--头工具栏-->

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchPush">
    <input type="checkbox" name="is_time_push" value="{{d.is_time_push}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.is_time_push == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
<!--{:build_actionbar('actionbar',['edit','test', 'del'])}-->
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we',
        version:true,
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','upload','laydate','element','form','authtree','we','weTable','formSearch'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,$  = layui.$
            ,laydate = layui.laydate
            ,form = layui.form
            ,upload = layui.upload
            ,formSearch = layui.formSearch
            ,weTable = layui.weTable
            ,toastr = layui.toastr;

        var tableCommon = {
            elem: '#rule'
//            ,url:""
            ,url:"{:url('Admin/user.user/index')}"
            ,id : 'tableReload'
            ,skin:'line'
            ,limit:10
            ,defaultToolbar: ['filter']
            ,toolbar : '#toolbar'
            ,data:{'Search':"{:__('Search')}",'Reset':"{:__('Reset')}"}
            ,search: false
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'buyer_name', title: '买家昵称', sort: true,minWidth:150,searchList:{type:'input',operate:'LIKE'}}
                ,{field:'consignee_name', title: '收货人姓名',minWidth:150}
                ,{field:'order_status', title: '订单状态',templet: '#switchStatus', sort: true,minWidth:100}
                ,{field:'order_source', title: '订单来源', sort: true,minWidth:150}
                ,{field:'consignee_city', title: '收货人所在城市',minWidth:150}
                ,{field:'mobile', title: '手机号码',minWidth:100}
                ,{field:'order_number', title: '订单编号',minWidth:150}
                ,{field:'pay_money', title: '付款金额（元）',minWidth:100}
                ,{field:'order_time', title: '下单时间',minWidth:100}
                ,{field:'commodity', title: '购买的宝贝',minWidth:150}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,done: function(res, curr, count){
                if(res.status == 'success') {
                    layer.closeAll();
                }
            }
        };

        table.render(tableCommon); //数据表格初始化
//        formSearch.api.init(tableCommon); //搜索初始化

        var demoListView = $('#demoList');
        var uploadListIns = upload.render({
            elem: '#upload'
            ,url: "{:url('Admin/Order/upload')}"
            ,done: function(res, index, upload){ //上传后的回调

            }
            ,progress: function(e , percent) {
                element.progress('progressBar',percent  + '%');
            }
            ,accept: 'file' //允许上传的文件类型
            ,size: 50*1024*1024 //最大允许上传的文件大小
            ,auto:false
            ,multiple: true
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ we.format_bytes(file.size,'') +'</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                    element.progress('progressBar', '0%');
                    $("#progressBar").show();
                    $(".upload-btn").removeClass('layui-btn-disabled');
                });
            }
            ,done: function(res, index, upload){
                console.log(res);
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                if(res.status == 'success'){ //上传成功
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                } else {
                    tds.eq(2).html('<span style="color: #FF5722;">'+res.msg+'</span>');
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                element.progress('progressBar', '0%');
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
//                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });


        /**
         *
         * 时间初始化
         * */
        laydate.render({
            elem: '#day_hour_start' //指定元素
            ,type: 'time'
            // ,format:'H'
            ,value:'09:00:00'
        });
        laydate.render({
            elem: '#day_hour_end' //指定元素
            ,type: 'time'
            // ,format:'H'
            ,value:'21:00:00'
        });

        laydate.render({
            elem: '#siesta_hour_start' //指定元素
            ,type: 'time'
            // ,format:'H'
            ,value:'12:00:00'
        });
        laydate.render({
            elem: '#siesta_hour_end' //指定元素
            ,type: 'time'
            // ,format:'H'
            ,value:'13:00:00'
        });

        laydate.render({
            elem: '#task_time_start' //指定元素
            ,type: 'date'
            // ,format:'H'
        });
        laydate.render({
            elem: '#task_time_end' //指定元素
            ,type: 'date'
            // ,format:'H'
        });

        /**
         *
         * 发送时间事件切换
         * */
        form.on('radio(date_switch)', function(data){
            // console.log(data.elem);
            console.log(data.value)
            if(data.value == 0){
                $(".task_time").show()
            }else(
                $(".task_time").hide()
            )
        });



        //监听性别操作
        form.on('switch(ruleStatus)', function(obj){
//            console.log(obj);
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            is_display:true,
            tableid : "tableReload",
            form:$("form#formRule"),
            tableCommon: tableCommon,
            extend : {
                "add_url": "{:url('admin/push/add','',false)}",
                "edit_url": "{:url('admin/push/edit','',false)}/ids/",
                "del_url": "{:url('admin/push/del','',false)}",
            }
        });

        /**
         * 绑定监听事件
         * */
//        weTable.api.bindevent();
        formSearch.api.searchForm($("form#formRule"));

        /**
         * 屏蔽标旗点击切换
         */
        $("body").on("click","ul li",function (){
            if($(this).hasClass('checkbox-active')) {
                $(this).removeClass('checkbox-active');
            } else {
                $(this).addClass('checkbox-active')
            }
        });

        /**
         * 省份点击
         */
        $("body").on("click","#areaId",function (){
            we.api.open_current_page_layer($(".layer-form"),'选择所在省份',{
            },['80%' , '*']);
            var areaId = [];
            var areaIdCh = []
            //选中省份
            $("body").on("click",".submit",function (){
                $(".body-form input[type=checkbox]").each(function (index,value) {
                    if($(this).is(':checked') && $(this).val() != 'on') {
                        areaId.push($(this).val());
                        areaIdCh.push($(this).attr('title'));
                    }
                })
                $("#areaId").val(areaIdCh.join(','));
                $("#areaIdH").val(areaId.join(','));
                layer.closeAll();
            });
            //重置
            $("body").on("click",".reset",function (){
                layer.closeAll();
            });
        })

        /**
         * 评价状态、订单类型全选、非全选状态
         */
        form.on('checkbox(check_all)', function(data){
            var value = data.value;
            if(value == 'ALL') {
                if (data.elem.checked) {
                    $(this).parent(".layui-form").children('input').prop('checked', true);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').addClass('layui-form-checked');
                } else {
                    $(this).parent(".layui-form").children('input').prop('checked', false);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').removeClass('layui-form-checked');
                }
            }
        });

        /**
         *省份全选、反选
         */
        form.on('radio(check_all)', function(data){
            var value = data.value;
            if(value == 'all') {
                $("input[type=checkbox]").prop('checked', true);
                $(".layui-form-checkbox").addClass('layui-form-checked');
            } else {
                $("input[type=checkbox]").prop('checked', false);
                $(".layui-form-checkbox").removeClass('layui-form-checked');
            }
        });

        /**
         * 地区点击选中事件
         */
        $("body").on("click",".layui-form-checkbox",function (){
            var p = $(this).prev();
            if(p.attr('class') == 'all' && p.attr('class') !== 'undefined') {
                if($(this).hasClass('layui-form-checked')) {
                    $(this).parent(".layui-form").children('input').prop('checked', true);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').addClass('layui-form-checked');
                } else {
                    $(this).parent(".layui-form").children('input').prop('checked', false);
                    $(this).parent(".layui-form").children('.layui-form-checkbox').removeClass('layui-form-checked');
                }
            }
        });

        table.on('toolbar(rule)', function(obj){
            var layEvent = obj.event;
            var checkStatus = table.checkStatus(obj.config.id);
            //console.log(checkStatus.data);
            //获取订单id
            var order_id = [];
            $.each(checkStatus.data,function (index, value) {
                order_id.push(value.id);
            })
            //console.log(order_id);
            switch(layEvent){
                //查询
                case 'search':
                    layui.table.reload("tableReload"
                        ,{
                            page: {
                                curr: 1
                            }
                            ,where: [],
                        }
                    );
                    break;
                //发送短信
                case 'sendSms':
                    we.tips("<li><a href='#'>发送短信！！！！！</a></li>");
                    break;
                //按查询结果发送
                case 'sendSearchResultSms':
                    we.tips("<li><a href='#'>按查询结果发送！！！！！</a></li>");
                    break;
                //添加订单
                case 'addOrder':
                    we.tips("<li><a href='#'>添加订单！！！！！</a></li>");
                    break;
                //导入苏宁订单
                case 'importOrder':
                    we.api.open("{:url('admin/order/import','',false)}",'导入苏宁订单');
                    we.tips("<li><a href='#'>导入苏宁订单！！！！！</a></li>");
                    break;
                //导出苏宁订单
                case 'exportOrder':
                    we.tips("<li><a href='#'>导出苏宁订单！！！！！</a></li>");
                    break;
                //拉黑
                case 'toBlack':
                    we.tips("<li><a href='#'>拉黑！！！！！</a></li>");
                    break;
            }

        });

    });

</script>
</body>
</html>
{/block}