{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="group" lay-filter="group"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--状态-->
<script type="text/html" id="switchStatus">
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<!--状态-->
<script type="text/html" id="switchIsmenu">
    <input type="checkbox" name="ismenu" value="{{d.ismenu}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.ismenu == 1 ? 'checked' : '' }}>
</script>

<!--操作-->
<script type="text/html" id="barDemo">
    {{# if(d.rules != '*'){  }}
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">编辑</a>
    {{# }  }}
</script>
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
        ,we: 'we',
    }).use(['jquery','index','table','element','we'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,$ = layui.$ //重点处
            ,table = layui.table
            ,layer = layui.layer
            ,form = layui.form
            ,we = layui.we;

        table.render({
            elem: '#group'
            ,skin:'line'
            ,url:"{:url('Admin/auth.group/index')}"
            ,id: 'testReload'
            ,cols: [[
                {type:'checkbox', fixed: 'left'}
                ,{field:'name', title: '角色名称', sort: true}
                ,{field:'status', title: '状态',templet: '#switchStatus', sort: true}
                ,{field:'createtime', title: '操作时间', minWidth: 150}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
            ]]
        });

        //监听行工具事件
        table.on('tool(group)', function(obj){
            var data = obj.data;
             if(obj.event === 'edit') {
                var url = "{:url('admin/auth.group/edit','',false)}/ids/" + data.id;
                we.api.open(url,'编辑');
//                layer.open({
//                    type: 2,
//                    title: "编辑",
//                    shadeClose: true,
//                    shade: 0.3,
//                    maxmin: true,
//                    moveOut: true,
//                    area: ["80%", "80%"],
//                    content: url,
//                    skin: 'layui-layer-we',
//                    btn:['关闭'],
//                });
            }
        });

        form.on('submit(formRule)', function(data){
            var frame = layer.getChildFrame('html');
            frame.find("[type=submit]").removeClass('disabled');
            var name = frame.find("input[name=name]").val();
//            var authids = frame.find("input[name=authids[]]").val();
            var layerfooter = frame.find(".layer-footer");
            var formdata = frame.find("form").serializeArray();

            var d = {};
            var t = frame.find("form").serializeArray();
            $.each(t, function () {
                d[this.name] = this.value;
            });

            var ids = frame.find("input[name=ids]").val();
            var url = "{:url('admin/auth.group/edit','',false)}/ids/" + ids;
//            formdata.rules = authids.join(',');
//            return console.log(formdata);
            $.ajax({
                "url":"{:url('admin/auth.group/edit','',false)}/ids/" + ids,
                "cache":false,
                "data":formdata,
                "async":true,
                "type":'post',
                "success":function(data){
                    layer.msg(data.info);
                    layer.closeAll();
                    table.reload('testReload', {});
                    //当你在iframe页面关闭自身时
//                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
//                    parent.layer.close(index); //再执行关闭
                    //执行重载
                },
                "error":function (data) {
                    layer.msg(data.info);
                }
            });
            return false;

        });
    });
</script>
</body>
</html>
{/block}