{extend name="layout/default" /}
{block name="content"}
<body>
<!--<div class="layui-container lay_top">-->
<!--<div class="layui-row layui-col-space30">-->
<div class="body-form">
    <form class="layui-form" action="{:url('admin/user.user/edit','',false)}" tableid="tableReload" method="post" id="formRule" lay-filter="rule">
        <table class="layui-table" lay-skin="line" lay-size="sm">
            <colgroup>
                <col class="tdleft" width="10%">
                <col class="tdright" width="40%">
                <col class="tdleft" width="10%">
                <col class="tdright" width="40%">
            </colgroup>
            <tbody>
            <tr>
                <td class="tdleft">角色<span class="tips">*</span></td>
                <td class="tdright">
                    {:build_select('group_id', $groupdata, $list['group_id'], ['class'=>'form-control selectpicker', 'multiple'=>'', 'lay-verify'=>'required', 'xm-select' => 'select'])}
                    <input type="hidden" name="id" value="{$list['id']}">
                </td>
                <td class="tdleft">{:__('Username')}<span class="tips">*</span></td>
                <td class="tdright">
                    <input type="text" name="username" data-rule="required;username" lay-verify="username" autocomplete="off" value="{$list['username']}" placeholder="登录账号" class="layui-input">
                    <input type="hidden" name="id" lay-verify="id" value="{$list['id']}">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Nickname')}</td>
                <td class="tdright">
                    <input id="nickname" data-rule="required" name="nickname" placeholder="昵称" value="{$list['nickname']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Email')}</td>
                <td class="tdright">
                    <input type="email" name="email" data-rule="{required;email}" placeholder="邮箱" value="{$list['email']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Password')}</td>
                <td class="tdright">
                    <input type="password" data-rule="passwdrule" data-rule-passwdrule="[/{$passwd_complexity_rule[0]}/, '{$passwd_complexity_rule[1]}']" name="password" placeholder="密码" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Confirm password')}</td>
                <td class="tdright">
                    <input type="password" name="confirm_password" data-rule="{:__('Confirm password')}:match(password);" placeholder="确认密码"  autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Mobile')}</td>
                <td class="tdright">
                    <input id="mobile" name="mobile" data-rule="" placeholder="邮箱" value="{$list['mobile']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Level')}</td>
                <td class="tdright">
                    <input id="level" name="level" data-rule="" placeholder="" value="{$list['level']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Gender')}</td>
                <td class="tdright">
                    {:build_radios('gender',['1'=>__('Male'), '0'=>__('Female')], $list['gender'])}
                </td>
                <td class="tdleft">{:__('Birthday')}</td>
                <td class="tdright">
                    <input id="birthday" name="birthday" data-rule="" placeholder="" value="{$list['birthday']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Successions')}</td>
                <td class="tdright">
                    <input id="successions" name="successions" data-rule="" placeholder="" value="{$list['successions']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Maxsuccessions')}</td>
                <td class="tdright">
                    <input id="maxsuccessions" name="maxsuccessions" data-rule="" placeholder="" value="{$list['maxsuccessions']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Prevtime')}</td>
                <td class="tdright">
                    <input id="prevtime" name="prevtime" data-rule="" placeholder="" value="{$list['prevtime']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Logintime')}</td>
                <td class="tdright">
                    <input id="logintime" name="logintime" data-rule="" placeholder="" value="{$list['logintime']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Loginip')}</td>
                <td class="tdright">
                    <input id="loginip" name="loginip" data-rule="" placeholder="" value="{$list['loginip']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Loginfailure')}</td>
                <td class="tdright">
                    <input id="loginfailure" name="loginfailure" data-rule="" placeholder="" value="{$list['loginfailure']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Joinip')}</td>
                <td class="tdright">
                    <input id="joinip" name="joinip" data-rule="" placeholder="" value="{$list['joinip']}" autocomplete="off" class="layui-input">
                </td>
                <td class="tdleft">{:__('Jointime')}</td>
                <td class="tdright">
                    <input id="jointime" name="jointime" data-rule="" placeholder="" value="{$list['jointime']}" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td class="tdleft">{:__('Status')}</td>
                <td class="tdright">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁止"  {$list['status'] == 1? 'checked' : ''}>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="layui-form-item footer-form">
            <div class="footer footer-common">
                <button type="submit" lay-submit="" lay-filter="formRule" class="layui-btn layui-btn-sm btn-embossed disabled">{:__('OK')}</button>
                <button type="reset" class="layui-btn layui-btn-sm btn-embossed">{:__('Reset')}</button>
                <a href="{:url($return_url)}"><div type="reset" style="margin-left: 10px" class="layui-btn layui-btn-sm btn-embossed go-back">{:__('Back')}</div></a>
            </div>
        </div>
    </form>
</div>
<!--</div>-->
<!--</div>-->
{/block}
{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index', //主入口模块
        formSelects: 'formSelects-v4'
    }).link(
        '__STATIC__/style/formSelects-v4.css'
    ).
    link(
        " __STATIC__/style/jquery.validator.css"
    ).
    use(['jquery','index','laydate','formSelects','formValidator'], function(){
        var admin = layui.admin
            ,$ = layui.$
            ,table = layui.table
            ,laydate = layui.laydate
            ,formSelects = layui.formSelects
            ,formValidator = layui.formValidator;
        //监听提交

        laydate.render({
            elem: '#prevtime' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#birthday' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#logintime' //指定元素
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#jointime' //指定元素
            ,type: 'datetime'
        });
        /**
         * 绑定表单事件
         */
        formValidator.api.bindevent($("form#formRule"));
    });
</script>
</body>
</html>
{/block}