{extend name="layout/default" /}
{block name="content"}
<body>
<div class="layui-fluid">
    <!--<div class="layui-row layui-col-space15">-->
        <div class="layui-col-md12 webody">
            <div class="layui-row layui-col-space15">
            <div class="layui-col-12">
                <div class="searchbody">
                </div>
            </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="rule" lay-filter="rule" table-reload-id="tableReload" lay-size="sm"></table>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
</div>

<!--头工具栏-->
{:build_toolbar('toolbar',['refresh', 'add', 'del', 'export'])}

<!--状态-->
<!--<script type="text/html" id="switchStatus">-->
    <!--<input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="激活|禁用" lay-filter="ruleStatus" {{ d.status == 1 ? 'checked' : '' }}>-->
<!--</script>-->

<!--状态-->
<!--<script type="text/html" id="switchIsmenu">-->
    <!--<input type="checkbox" name="ismenu" value="{{d.ismenu}}" lay-skin="switch" lay-text="是|否" lay-filter="ruleIsmenu" {{ d.ismenu == 1 ? 'checked' : '' }}>-->
<!--</script>-->

<!--操作-->
{:build_actionbar('actionbar',['edit', 'del'])}
{/block}

{block name="script"}
<script>
    layui.config({
        base: "__STATIC__/", //静态资源所在路径
        skin: 'layui-layer-we'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','table','element','form','authtree','we','weTable','formSearch'], function(){
        var admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,we = layui.we
            ,form = layui.form
            ,weTable = layui.weTable
            ,formSearch = layui.formSearch
            ,toastr = layui.toastr;

        layer.load(0, {shade: false});
        var tableCommon = {
            elem: '#rule'
            ,method:'post'
            ,url:"{:url('Admin/user.user/index')}"
            ,id : 'tableReload'
            ,skin:'line'
            ,toolbar : '#toolbar'
            ,data:{'Search':"{:__('Search')}",'Reset':"{:__('Reset')}"}
//            ,limit : 4
            ,loading:true
            ,limit:10
            ,defaultToolbar: ['filter']//'filter', 'print', 'exports'
            ,search: true
            ,cols: [[
                {type:'checkbox', fixed: 'left',}
                ,{field:'id', title: 'ID', sort: true, excel_width:15}
                ,{field:'name', title: "{:__('Group')}", sort: true, excel_width:15}
                ,{field:'username', title: "{:__('Username')}", excel_width:15, searchList:{type:'input',operate:'LIKE'}}
                ,{field:'nickname', title: "{:__('Nickname')}", excel_width:15, searchList:{type:'input',operate:'LIKE'}}
                ,{field:'mobile', title: "{:__('Mobile')}", excel_width:15}
                ,{field:'level', title: "{:__('Level')}", excel_width:15}
                ,{field:'gender', title: "{:__('Gender')}", excel_width:15}
                ,{field:'score', title: "{:__('Score')}", excel_width:15}
//                ,{field:'successions', title: "{:__('Successions')}", excel_width:15}
//                ,{field:'maxsuccessions', title: "{:__('maxsuccessions')}", excel_width:15}
                ,{field:'email', title: "{:__('Email')}", excel_width:15, searchList:{type:'input',operate:'LIKE'}}
//                ,{field:'status', title: '状态', excel_width:15,templet: '#switchStatus', sort: true, searchList:{type:'select',data:{$statusList},'operate':'='}}
                ,{fixed: 'right', title:"{:__('Operate')}", toolbar: '#actionbar', width:160}
            ]]
            ,page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                ,all:"{:__('Total')}"
                ,item:"{:__('Item')}"
                ,confirm:"{:__('Confirm')}"
                ,page:"{:__('Page')}"
                ,ipage:"{:__('IPage')}"
                ,to:"{:__('To')}"
                ,first: "{:__('First')}"
                ,last: "{:__('Last')}"
                ,prev: "{:__('Previous')}"
                ,next: "{:__('Next')}"
            }
            ,done: function(res, curr, count){
//                if(res.status == 'success') {
                    layer.closeAll();
//                }
            }
            ,error:function () {
                layer.closeAll();
            }
        }

        table.render(tableCommon); //数据表格初始化
        formSearch.api.init(tableCommon); //搜索初始化

        /**
         * 表格初始化
         */
        weTable.api.init({
            table : "rule",
            is_display:true,
            tableid : "tableReload",
            form:$("form#formRule"),
            tableCommon: tableCommon,
            extend : {
                "add_url": "{:url('admin/user.user/edit','',false)}",
                "edit_url": "{:url('admin/user.user/edit','',false)}/ids/",
                "view_url": "{:url('admin/user.user/view','',false)}/ids/",
                "del_url": "{:url('admin/user.user/del','',false)}",
                "export_url" : "{:url('admin/user.user/index','',false)}"
            }
        });

        /**
         * 绑定监听事件
         * */
        weTable.api.bindevent();
        formSearch.api.searchForm($("form#formRule"));
    });
</script>
</body>
</html>
{/block}